[2018-04-25 12:41] karmi commented on #508
Hmm hmm, wondering... With only a single node, the cluster should be green, I'm afraid this might be something like a bootstrap check failing or something like that. Can you run the cluster with the debug option (eg. `DEBUG=yes` as environment variable), and have a look at the output? It should tell what's wrong with the cluster...

[2018-04-25 13:07] karmi commented on #517
Hi, apologies for the long silence!

So first, I'd try to stay away from fielddata as far as possible :) It's a sure way how to make Elasticsearch memory hungry, sometimes _very_ memory hungry. You access the field correctly, though; see [documentation](https://www.elastic.co/guide/en/elasticsearch/reference/master/modules-scripting-fields.html#modules-scripting-doc-vals).

The reason why it gives

[2018-04-25 13:14] karmi commented on #509
Hello @karpet, apologies for the long silence here, I was too focused on other responsibilities. Yes, you're right, I'm afraid the `get_aliases` method is a leftover which wasn't deprecated and removed. When in doubt, check the [REST API specification](https://github.com/elastic/elasticsearch/blob/master/rest-api-spec/src/main/resources/rest-api-spec/api/indices.get_alias.json).

I'll keep it in m

[2018-04-25 13:32] karmi commented on #472
Thanks for all the info @majormoses , reindex is a very nice option as well, with the added benefit of being able to tweak index settings at the same time, as you mention.

Closing the issue now, thanks for the discussion!

[2018-04-25 13:32] #472 closed

[2018-04-25 15:06] karmi commented on #513
Hi @mnd-dsgn, I'm afraid I can't offer more assistance / advice at this point, is there anything more I can do?

[2018-04-27 09:07] karmi commented on #437
Hello, closing this issue, we're nearing a one year anniversary :) Please re-open or open a new one if you'd like to continue the discussion!

[2018-04-27 09:07] #437 closed

[2018-04-30 20:39] jarongao commented on #508
We're running into this issue with an update to Ruby 2.4.4, and this fixed our problem: https://github.com/chrisk/fakeweb/issues/57

[2018-05-02 17:07] anthonyto opened #522 "DSL query_string does not accept optional 'type' parameter"
According to the Elasticsearch docs, when using `query_string` against multiple fields, I should be able to include an optional `type` parameter with the options found [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-multi-match-query.html#multi-match-types).

The relevant documentation can be found at the bottom of the [following section](https://www.elastic.co/gui

[2018-05-02 17:17] anthonyto commented on #522
Workaround:

When I manually add the `type` parameter on the raw hash form of the query then it seems to work.  Ex:

[code]

It would be great if the optional `:type` param could be added to the query_string API or note this workaround somewhere in the docs.

[2018-05-15 07:37] karmi commented on #522
@anthonyto, yes, this is something which should be added to the DSL method. As another workaround, the DSL methods support a Hash as a parameter, so you should be able to do something like:

[code]

One note, the `query_string` is prone to errors when users supply eg. a term with `[` or another special character, maybe the [`match_phrase_prefix`](https://www.elastic.co/guide/en/elasticsearch/refer

[2018-05-15 07:51] karmi commented on #513
Thanks for the note, @mnd-dsgn !

[2018-05-22 20:13] EmFl opened #525 "Specifying Faraday.ignore_env_proxy = true in Elasticsearch::Client.new"
Hello,
I'd like to define the relatively new Faraday settings ignore_env_proxy but I don't think that it is supported at the moment.
I'm looking for confirmation if my understanding is correct and a code change is required or if I simply missed how I could define that.
This settings was introduced by this PR in faraday project :
https://github.com/lostisland/faraday/pull/754

Thank you

[2018-05-23 22:16] ccoffey opened #526 "Add Faraday middleware to an already instantiated client"
We configure out clients with custom Faraday middleware as follows.

[code]

I would like to conditionally add another middleware later, is something like the following possible?

[code]

[2018-06-02 12:57] reallinfo opened #529 "Elasticsearch-ruby logo offer"
Hello,

I am a graphic designer. I like to contribute by designing a logo for open source software. Do you want me to design a logo for elasticsearch-ruby?

you can see many logo design examples on my github profile.

https://github.com/reallinfo

[2018-07-10 13:49] rafallo opened #532 "DSL does not support `query` keyword while using nested queries in filter context"
Hey,

I have found out that it is iimpossible to make nested filter combined with regular filter using DSL like this:

[code]

so I added query parameter to Nested Filter in following PR -> https://github.com/elastic/elasticsearch-ruby/pull/531

[2018-07-12 08:38] rafallo commented on #511
+1

[2018-07-17 17:25] alexvollmer opened #533 "Cannot add search template in ES 6.3.1"
I've been testing an upgrade from Elasticsearch 5.6 to the latest (6.3.1) and ran into an issue with one of our rake tasks that creates a search template. Using v6.1.0 of the ruby client, I get the following error when attempting to use the `put_template` method:
[code]

According to the docs, I believe the correct approach is to issue a POST against `_scripts/<template-name>`, but looking at the

[2018-07-18 07:05] karmi commented on #533
Hi @alexvollmer, I've looked at the [API specification](https://github.com/elastic/elasticsearch/blob/6.x/rest-api-spec/src/main/resources/rest-api-spec/api/search_template.json) and it should indeed be a `POST` request to `/_search/template` — I'll make the neccessary fixes.

[2018-07-19 21:50] thommahoney commented on #516
Bump on this... Looking to use `MatchPhrasePrefix` but can't because it isn't released.

[2018-07-26 16:06] bheeshmar commented on #516
While you are at it, please consider updating the version number.

[2018-07-29 10:01] karmi commented on #516
Hi, I've released [`0.1.6`](https://rubygems.org/gems/elasticsearch-dsl/versions/0.1.6), apologies about the delay!

[2018-07-29 10:01] #516 closed

[2018-08-01 13:46] sudhanne opened #535 "Cannot get new connection from the pool"
I am trying to track down the source of the following intermittent error I see on my servers:

“Cannot get new connection from the pool”

I am connecting to an Elastic Cloud managed cluster in AWS. Under periods of heavy search load (30 QPS) I occasionally see this error coming from my multisearch queries.

[2018-08-01 14:30] sudhanne commented on #535
Am using the standard Ruby NET HTTP adapter. Would patron or typheous help with this issue?

[2018-08-01 14:46] estolfo commented on #535
@sudhanne have you tried adjusting the `resurrect_after` parameter?

[2018-08-01 15:32] sudhanne commented on #535
No I have not. What should I set this to?

[2018-08-01 15:34] sudhanne commented on #535
Pz

[2018-08-01 15:35] estolfo commented on #535
I would try different values to see which works best for your application.

[2018-08-01 15:45] sudhanne commented on #535
Sounds good I’ll give it a try!

[2018-08-01 17:06] sudhanne commented on #535
Right now I have one singleton instance of the Elasticsearch client shared across the entire application. This means that our bulk indexing jobs as well as our search query requests are all re-using this client instance.

Is that OK? Should I be splitting this up?

[2018-08-02 08:41] estolfo commented on #535
@sudhanne I would recommend asking your question here https://discuss.elastic.co/

[2018-08-03 22:24] mnd-dsgn opened #536 "BadRequest when trying to add "from" option to "update_by_query""
Hi,

I'm trying to update documents in an index with a lot of documents in it in chunks to avoid BadGateway errors. I'm trying to basically paginate through the documents in the index, using the documentation-specified "from" and "size" options passed to `Elasticsearch::Model.client.update_by_query` to update 100,000 documents at a time.

When passing `from` as an option (docs [here](https://www.r

[2018-08-05 19:14] mnd-dsgn commented on #536
Thanks karmi, that's a much better solution.

For anyone wondering how that's done with the Ruby client, just pass an integer to the `slices` option.

[code]

Response:

[code]

[2018-08-06 05:34] brettskiii opened #537 "I can't see how to iterate over response returned from query"
I'm doing something like this:

[code]

which returns a string..

[code]

```JSON.parse(response)``` will result in:

[code]

or as suggested in the docs, the ```mash = Hashie::Mash.new response``` results in:

[code]

I'm a bit lost been looking around for a solution, but can't seem to understand how to take the response returned from the client which comes in as a string and convert it to someth

[2018-08-06 06:01] brettskiii commented on #537
Just to add to this, it looks like YAML as the result, so I can convert it doing this:

[code]

and then I can iterate OK, but is this right?

[2018-08-06 07:36] karmi commented on #537
@brettskiii, this is really weird — the regular response from any method of the client is a Ruby `Hash`, so you don't have to deserialize it. It does indeed look like in your case a YAML string is being returned — are you sure you don't set the `Accept` header somewhere to `application/yaml`? How do you initialize the client?

When you initialize the client with the [`trace: true`](https://github.

[2018-08-06 07:37] karmi commented on #536
@mnd-dsgn, great! This should really be a much better approach. Closing the issue if it's OK?

[2018-08-06 07:37] #536 closed

[2018-08-06 08:13] brettskiii commented on #537
oh dear, yes that's it. I grabbed an example of the web that disabled ssl verification, and in the initialize it had format YAML. All good thank you pointed me exactly to the right area to fix 👍

[2018-08-06 08:13] #537 closed

[2018-08-06 08:19] karmi commented on #537
Argh!, right, from [here](https://github.com/elastic/elasticsearch-ruby/tree/master/elasticsearch-transport#transport-implementations) I guess :) Glad it's solved!

[2018-08-09 21:16] mnd-dsgn commented on #536
For anyone whose Elasticsearch is on AWS and/or has a hard timeout limit of 60 seconds which prevents updates to indices even with the `slices: auto` option, adding `wait_for_completion: false` worked for me. [Docs](https://www.rubydoc.info/gems/elasticsearch-api/Elasticsearch%2FAPI%2FActions:update_by_query).

[code]

[2018-08-15 04:57] rafaelsales opened #538 "Can't use slices=auto on _delete_by_query"
Version:
[code]

[code]

[2018-08-15 05:00] #538 closed

[2018-08-15 14:48] estolfo commented on #535
@sudhanne Did you get your question answered?

[2018-08-15 14:49] estolfo commented on #529
Thanks for your offer @reallinfo but I think we're ok for now. We'll keep it in mind though!

[2018-08-15 14:49] #529 closed

[2018-08-17 08:05] estolfo opened #539 "Update parsing of publish_address in Elasticsearch clients"
1. Support hostname/ip:port format for publish_address
2. Support IPv6 addresses

Relevant code: https://github.com/elastic/elasticsearch-ruby/blob/master/elasticsearch-transport/lib/elasticsearch/transport/transport/sniffer.rb#L35

[2018-09-06 15:19] kiransingh-do commented on #367
Anyone can help
   'query' => [
              'bool' => [
                'filter' => [
                  'term' => [
                    'market' => $market ,
                  ],
                  'term' => [
                    'status' => 1 ,
                  ]
                ]
              ]
            ],
here market filter is not applied,whatever i passed last to filter,it filter that te

[2018-09-06 15:34] kiransingh-do commented on #367
@estolfo No

[2018-09-06 15:37] estolfo commented on #367
I would recommend asking your question there as well.

[2018-09-10 06:33] karmi commented on #367
@kzcat , you have to repepeat the `filter` clause, see https://github.com/elastic/elasticsearch-ruby/commit/73343cf1cd9f21ef1f30552ee48b6bdca544795d...

[2018-09-11 19:04] skatenerd opened #540 "404 on successful delete"
**Elasticsearch version** (`bin/elasticsearch --version`): 6.2

**Plugins installed**: None

**JVM version** (`java -version`): Unknown (AWS-hosted Elasticsearch)

**OS version** (`uname -a` if on a Unix-like system): Unknown (AWS-hosted Elasticsearch)

**Description of the problem including expected versus actual behavior**: Issuing a DELETE request on an existing record results in a 404 return c

[2018-09-11 20:06] #540 closed

[2018-09-13 14:17] gregblass commented on #294
I just had this error happen on a client's production server. Any insight as to what might have caused this?

[2018-09-20 20:46] pwnage101 opened #541 "bulk API chokes on empty list, ruby client allows it to happen anyway"
Inevitably, people will write code which sends bulk requests to ES without giving thought to the special case of empty input.  Unfortunately, ES is completely unforgiving and also cryptic when it receives an empty bulk request:

[code]

There's nothing in the `bulk` method which checks if the input is empty.  It will simply send the empty request: https://github.com/elastic/elasticsearch-ruby/blob

[2018-09-21 05:41] karmi commented on #541
Hi @pwnage101 , thanks for highlighting this case. The general context with what we call a "low-level client" is that it should be very transparently using the Elasticsearch API, in other words, "almost as `curl`".

In fact, the language clients do some additional logic in the client code — eg. requiring a parameter:

https://github.com/elastic/elasticsearch-ruby/blob/c2f801ad312af4abfdb705c3e66a4

[2018-09-21 17:38] pwnage101 commented on #541
Good point, I do recognize this is supposed to be a low-level API method.  Given that this is likely one of very few, if not the only low level method people may use, I think calling out this special case in documentation will suffice.  For me, at least, that would have helped.  Does that sound good?

Long term I'd like to see a higher level method for accessing the bulk API, but my current level

[2018-10-05 21:22] kris opened #545 "NoMethodError: undefined method `bool'"
Hi,

Trying to use the DSL and running into this issue:

`NoMethodError: undefined method `bool' for #<Elasticsearch::DSL::Search::Search:0x00007fc21e3f8e90>`

          builder = search do |q|
            q.size @size
            q.sort :_doc
            q.query do
              q.bool do
                q.must do
                  q.match message: 'googlebot'
                end
              en

[2018-10-05 21:34] #545 closed

[2018-10-05 21:35] kris commented on #545
Sorry, I didn't realize I have to pass the new instead of the builder around to each nested level.

[2018-10-10 15:07] estolfo commented on #535
I'm going to close this issue because of no response. Feel free to open a new issue if you have further questions.

[2018-10-10 15:07] #535 closed

[2018-10-22 12:32] estolfo commented on #494
I'm going to close this as a new version of the gem was released in July.

[2018-10-22 12:32] #494 closed

[2018-10-22 12:33] estolfo commented on #494
I'm going to close this as a new version of the gem was released in July.

[2018-10-22 13:32] estolfo commented on #427
Updated the documentation in [this commit](https://github.com/elastic/elasticsearch-ruby/commit/79c1fcc25f0ecb839c7dd510cc236f3f53c72693).
The options were moved to the request body so I'm going to close this issue.

[2018-10-22 13:32] #427 closed

[2018-10-22 18:05] pacoguzman opened #552 "ElasticSearch 5.x query filter using simple_query_string"
I'm bump an app which makes use of elasticsearch-dsl against a 2.x cluster to a be able to requests against a 5.x cluster.

We have the following query working as expected against 2.x

[code]

But against 5.x we get

[code]

Which is related with https://github.com/elastic/elasticsearch/issues/16885 so we change to the following query

[code]

Now we get the following error

[code]

So I've tried

[2018-10-23 11:01] estolfo commented on #552
Hi @pacoguzman
Looking at the documentation [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-simple-query-string-query.html), you might be missing the `query` part before `simple_query_string`. In other words, your search definition might need to be updated to the following:

[code]

I was able to successfully construct the following hash with the above definition:

[2018-10-23 11:03] estolfo commented on #552
@pacoguzman Looking back at your post, I think I misunderstood your issue. With the query I've suggested in my last comment, you are getting an error back from Elasticsearch 5.x?

[2018-10-23 13:34] estolfo commented on #552
@pacoguzman OK, I understand now. Would you mind sending me the search definition as a hash or json that successfully returns the results you are looking for? Then I can see if the DSL library is lacking support for some definition structure.

[2018-10-23 15:17] harry-wood commented on #49
Looks like an evolved version @karmi 's example code can now be found in the elasticsearch-api gem rubydocs here ("scroll"):
https://www.rubydoc.info/gems/elasticsearch-api/Elasticsearch%2FAPI%2FActions:scroll

[2018-10-24 12:34] sinfomicien commented on #475
Yep, still an issue. For now i use a forked version of the lib, which permit me to play with the slice parameter

[2018-10-24 12:36] sinfomicien commented on #475
And to answer the question from karmi i miss... The latest stable ! 6.4.2 right now.

[2018-10-24 13:42] estolfo commented on #478
@lostapathy I'm going to close this, if you don't mind. We have the 6.x series of this gem being tested in Travis against Elasticsearch 6 [here](https://travis-ci.org/elastic/elasticsearch-ruby/builds/445006505).
We also have [master being tested](https://travis-ci.org/elastic/elasticsearch-ruby/builds/445006505) against Elasticsearch 7.0 alpha and will continue to develop master of the gem and te

[2018-10-24 13:42] #478 closed

[2018-10-24 13:43] estolfo commented on #507
@dsager Is this still an issue?

[2018-10-24 17:30] pacoguzman commented on #552
These are two examples (nested are not nested queries):

[code]

[2018-10-25 04:02] PhilCoggins opened #555 "Elasticsearch::Client.new only accepts symbolized keys"
I use the `elasticsearch-rails` gem and use the common pattern of creating a config file `config/elasticsearch.yml` and then `Rails.application.config_for("elasticsearch")` to read the options, which returns a hash with stringified keys. `Elasticsearch::Client.new` can only read symbolized keys, and therefore won't read any config unless I call `.symbolized_keys` on the result of reading my config

[2018-10-25 14:35] estolfo commented on #555
Hi @PhilCoggins Thanks for opening this issue. We wouldn't be able to rely on `#symbolize_keys` as it's a Rails method and not necessarily available from the `elasticsearch-ruby` gem. Is there another approach you propose?

[2018-10-26 12:37] estolfo commented on #552
Hi @pacoguzman, I think the issue might have been that you have to repeat the `must` key if you want to define multiple clauses in the `bool` definition. I've called `to_hash` on the following definitions and they match the json you've provided. Please let me know if this resolves your issue or if I can help further. Thanks!

[code]

[code]

[2018-10-26 18:10] pacoguzman commented on #552
Thanks @estolfo , I think I did another iteration after fixing my original problem with the following:

[code]

So after that iteration, if you check my first DSL code I were using a filtered query inside a query and then other thing, but now we just have something like you pasted in your previous comment, So that fix  is not needed anymore and we can close this.

Thanks for your time debugging th

[2018-10-26 18:10] #552 closed

[2018-11-01 10:01] estolfo commented on #532
Related pull request: https://github.com/elastic/elasticsearch-ruby/issues/532

[2018-11-01 10:03] estolfo commented on #532
Closing as the related pull request has been merged.

[2018-11-01 10:03] #532 closed

[2018-11-02 13:09] estolfo commented on #475
Hi @sinfomicien
I've done some tests and I think I know how to resolve this. A sliced scroll must be defined via the `search` method like the following:
[code]

so using your example, you'd write:
[code]

Let me know if that works for you!

[2018-11-02 14:45] PhilCoggins commented on #555
Thanks for the quick response @estolfo , that's a good point that these methods are not available with vanilla Ruby.

Would you consider emitting a warning if the fallback configuration is used even in the presence of stringified arguments (e.g. `hosts / host / url / urls`)?

[2018-11-05 14:13] estolfo commented on #533
Hi @alexvollmer Is this still an issue? It looks like you are calling `put_template`, which should accept either `POST` or `PUT` according to this https://github.com/elastic/elasticsearch/blob/master/rest-api-spec/src/main/resources/rest-api-spec/api/indices.put_template.json
If it is still an issue, can you please provide some sample code that causes this error?
Thanks!

[2018-11-07 11:49] estolfo commented on #475
@sinfomicien Did you have a chance to see my comment, by any chance?

[2018-11-07 17:45] sinfomicien commented on #475
Hello, sorry was busy... Will try next week your solution @estolfo. Hope the timing is OK for you?

[2018-11-08 08:52] estolfo commented on #475
Hi @sinfomicien Thanks for the update. No rush, please let me know if the solution works for you. I'll ping you in a week if I don't hear back =)

[2018-11-08 15:13] estolfo commented on #507
I'm going to close this issue because of no activity. Please comment if the issue persists. Thanks!

[2018-11-19 10:16] estolfo commented on #475
Hi @sinfomicien Is there any chance you've tested my suggestion? Let me know, thanks!

[2018-11-19 10:17] estolfo commented on #533
I'm going to close this because of no response. Please comment here if it persists.

[2018-11-19 11:09] estolfo commented on #507
I've just run the following with both 5.6 and 6.5 of Elasticsearch:

[code]

Can you please try calling the method with that format and let me know if it works?
Otherwise, can you please set a tracer on the client, call the method and send the output?
Thank you

[2018-11-19 11:22] estolfo commented on #525
Hi @EmFl in looking at the changes to `Faraday`, it seems that the setting is a global one so no changes would be required in the `elasticsearch-ruby` repo to support `ignore_env_proxy`.  I'm going to close this issue but if you're finding that this setting is not being applied, please provide a code sample or test so I can reproduce the problem.

[2018-11-19 11:22] #525 closed

[2018-11-19 11:31] estolfo commented on #173
@andrejj Is there a reason to keep this issue open? We have deprecated the `ActiveRecord` pattern in the `elasticsearch-persistence` gem. With the `repository` pattern, you can have more control over how the data is deserialized and mapped to object attributes.

[2018-11-19 11:38] estolfo commented on #354
I'm going to close this issue as it looks like it was resolved with the release of Faraday 0.14.0. Please see the the release notes [here](https://github.com/lostisland/faraday/releases/tag/v0.14.0). Please open a new issue if the problem persists.

[2018-11-19 11:38] #354 closed

[2018-11-19 11:40] estolfo commented on #407
@zauzaj Can I close this issue?

[2018-11-19 11:41] estolfo commented on #358
@samstickland Is this still an issue or can I close this?

[2018-11-19 11:48] estolfo commented on #279
I'm going to close this, as it doesn't seem to be an issue, given [this line](https://github.com/elastic/elasticsearch-ruby/commit/5a22f5fefd0916deab644da03c30ec00677856f9).

[2018-11-19 11:48] #279 closed

[2018-11-19 11:57] estolfo commented on #402
@marco-nicola Would you mind providing a code example? Thanks

[2018-11-19 12:05] zauzaj commented on #407
@estolfo Hi, for now yes. Thanks 👍

[2018-11-19 12:05] #407 closed

[2018-11-19 12:08] estolfo commented on #428
@portante Is this still an issue? I see you're using a very old version of the gem...

[2018-11-19 12:31] estolfo commented on #509
I'm going to close this, as [the rest API spec still refers to the alias endpoint as `get_alias`](https://github.com/elastic/elasticsearch/blob/master/rest-api-spec/src/main/resources/rest-api-spec/api/indices.get_alias.json). The actual url that the ruby client method uses has already been updated to `alias` so there's no change necessary for this issue.

[2018-11-19 12:31] #509 closed

[2018-11-19 12:55] Startouf commented on #517
Hi @estolfo actually I can no longer find an occurence of fielddata in my code, so I probably either got around the problem, or realized I did not need this option.

[2018-11-19 12:56] #517 closed

[2018-11-19 14:48] dsager commented on #507
Hi @estolfo , thanks for looking into this. I guess what isn't very clear from my initial issue description is that I'd like to get the result format `text` to work. That would in this case be "quick brown jump fox", as a simple string  without all the details (type & offsets)...

[2018-11-19 15:40] estolfo commented on #507
@dsager The `text` format was deprecated and now the `_analyze` API only supports the `format` option as the other endpoints do (json, yaml).
For reference: https://github.com/elastic/elasticsearch/pull/4339
I will update the documentation so it doesn't mention the `text` format.

[2018-11-19 15:45] estolfo commented on #507
ref: https://github.com/elastic/elasticsearch-ruby/commit/f08d5c630de4f633d774c47bd4ff2da37021d627

[2018-11-19 17:00] dsager commented on #507
Ok, thanks for the reference @estolfo . From how I understand the Java code that was responsible for the text format, it didn't return the whole string either but rather an ASCII formatted output similar to yaml.

Any idea what's the best way to get the analyzed text as a string?
A simple way (actually how I did it back then in some scripts) is to concatenate the tokens within Ruby, but that feels

[2018-11-20 16:16] estolfo commented on #507
Thanks for the update @dsager
I hope you figure out how to get the response format to work for you!

[2018-11-20 16:16] #507 closed

[2018-11-20 16:17] estolfo commented on #496
@blevine Is this still an issue?

[2018-11-20 18:21] blevine commented on #496
It was more of a question than an issue.  But I believe that including the filter in the body argument is correct.  Closing this issue.

[2018-11-20 18:21] #496 closed

[2018-11-23 09:42] nmaisonneuve commented on #428
I got the same issue sometime. (hard to reproduce..)
elasticsearch 6.1
ruby-2.5.3

NoMethodError: undefined method `status' for nil:NilClass
/var/www/cityobs/shared/bundle/ruby/2.5.0/gems/elasticsearch-transport-6.1.0/lib/elasticsearch/transport/transport/base.rb:274:in `rescue in perform_request'
/var/www/cityobs/shared/bundle/ruby/2.5.0/gems/elasticsearch-transport-
...
the issue is here :
rescu

[2018-11-23 15:52] estolfo commented on #475
I'm going to close this issue. Please open a new one if it's not resolved. Thanks!

[2018-11-23 15:52] #475 closed

[2018-11-23 15:54] estolfo commented on #173
I'm going to close this issue because I believe it's no longer relevant. Please comment if you'd like to continue the discussion and I can reopen it.

[2018-11-23 15:54] #173 closed

[2018-11-23 16:35] estolfo commented on #522
Hi @anthonyto
I've added this option method to the DSL library in [this pull request](https://github.com/elastic/elasticsearch-ruby/pull/572). Feel free to try it in your testing environment and let me know if it works for you.

Here is my own test:
[code]

[2018-11-26 09:52] estolfo commented on #358
Closing due to inactivity. Please comment or open a new issue if the problem persists.

[2018-11-26 09:52] #358 closed

[2018-11-28 02:15] alexvollmer commented on #533
Sorry for the late response. I'm still seeing this with `elasticsearch-transport-6.1.0`. Here is the error and backtrace:
[code]

I ran `tcpflow` to see what was actually going over the wire and it appears this method is still issuing the request against the wrong endpoint:

[code]

The [current source](https://github.com/elastic/elasticsearch-ruby/blob/master/elasticsearch-api/lib/elasticsearch/a

[2018-11-28 02:45] alexvollmer commented on #533
If [this change](https://github.com/alexvollmer/elasticsearch-ruby/commit/14fcc0d5425dfe2f2d6be543a2442dcae4a45440) looks right, I'll turn it into a real PR.

[2018-11-28 19:11] alexvollmer commented on #533
I also ran into a related issue with rendering search templates, for which I also have a [proposed fix](https://github.com/alexvollmer/elasticsearch-ruby/commit/5ee616a8cc4da8979f16cab70170bc561299c5a6)

[2018-11-29 14:09] estolfo commented on #533
Hi @alexvollmer Thanks for investigating how to fix this. In the meantime, are you aware of the index template API?
I don't know what the Ruby code looks like so can't use your example exactly, but you could also do something like this:
[code]

[2018-11-29 14:45] estolfo commented on #533
@alexvollmer Would you mind providing the line of Ruby code where you are creating the template?

[2018-11-29 15:34] dtynewydd opened #574 "Elasticsearch failing to get version from lib files"
I'm trying to run some rspec tests against a local instance of elasticsearch following the guide [here](https://medium.freecodecamp.org/how-to-add-a-powerful-search-engine-to-your-rails-backend-57bced889032).

When I run the first test listed on the guide, I get the runtime error:
`Cannot determine Elasticsearch version from jar [elasticsearch-cli-6.5.1.jar]`

It appears the regex used to determin

[2018-11-29 17:32] alexvollmer commented on #533
@estolfo here's a code snippet for how we're loading the search template:
[code]
In this instance, `self.client` is an instance of `Elasticsearch::Client` and the `template_body` is a string that looks sort of like this:
[code]
Thanks for re-opening the ticket. Let me know if I can provide any additional information.

[2018-11-30 11:54] estolfo commented on #533
@alexvollmer Thanks for the response and code sample.
I think I've finally tracked down what the issues was. The endpoint for the get and put template APIs must use `_scripts`. I've opened pull request https://github.com/elastic/elasticsearch-ruby/pull/575 to fix it. Would you mind testing it and letting me know if it works for you?

As for the `render_template` API, you can successfully send the

[2018-11-30 12:03] estolfo commented on #522
The pull request has been merged so I'm going to close this issue.

[2018-11-30 12:05] #522 closed

[2018-11-30 14:08] estolfo commented on #574
What version of the `elasticsearch-extensions` gem you are using?
Can you try passing the version of elasticsearch you have to `Cluster.start`? Using the guide that you linked to, you would write something like this:
[code]

[2018-11-30 14:22] estolfo commented on #504
I'm going to close this as the `suggest` method has been deprecated in this commit https://github.com/elastic/elasticsearch-ruby/commit/34d4633e3513f383b227f64a5a0b0dc049308ddb

[2018-11-30 14:22] #504 closed

[2018-11-30 18:44] alexvollmer commented on #533
@estolfo I tested your branch locally and it looks like that change fixes the issues I was seeing. As far as I'm concerned, that patch looks 👍

Thanks!

[2018-12-03 11:59] dtynewydd commented on #574
Thanks for the quick response and the suggestions - unfortunately my dev machine picked this weekend to go out of action.

I've just tried a recreate on a different machine though, and it seems to be working fine with the version being correctly determined from the filenames.

When I get my dev machine back up and running I'll retest with your suggestions and report back.

[2018-12-03 19:00] anthonyto commented on #522
This works great for us. Thank you for addressing this @estolfo.

[2018-12-03 21:18] estolfo commented on #522
Thanks for following-up @anthonyto and I'm glad to hear it works for you.

[2018-12-05 15:15] estolfo commented on #574
@dtynewydd Is this resolved? Let me know, thanks

[2018-12-05 15:16] estolfo commented on #533
Closing, as this issue is resolved by the referenced pull request https://github.com/elastic/elasticsearch-ruby/pull/575

[2018-12-05 15:16] #533 closed

[2018-12-05 15:38] estolfo commented on #541
I'm closing this as a [note](https://github.com/elastic/elasticsearch-ruby/blob/master/elasticsearch-api/lib/elasticsearch/api/actions/bulk.rb#L69) has been added to the documentation stating that the body must be present and non-empty.

[2018-12-05 15:38] #541 closed

[2018-12-07 15:43] estolfo commented on #574
I'm closing this issue, assuming it has been resolved.

[2018-12-09 14:19] Mifrill opened #576 "actual changes is not contains in last realease"
Why this changes is not contains in last release version?
https://github.com/elastic/elasticsearch-ruby/commit/4b4cde4d263472011a36572225d7375657b436e6

it causes problems in gem elasticsearch-rails:

[code]

[2018-12-09 15:01] estolfo commented on #576
Hi @Mifrill
I've checked the history and it seems that somehow that commit was not in version [0.0.30](https://github.com/elastic/elasticsearch-ruby/blob/v0.0.30/elasticsearch-extensions/lib/elasticsearch/extensions/test/cluster.rb#L456) of the `elasticsearch-extensions` gem, though it is in [0.0.29](https://github.com/elastic/elasticsearch-ruby/blob/v0.0.29/elasticsearch-extensions/lib/elasticsea

[2018-12-09 15:03] estolfo commented on #576
I've cherry-picked the commit to the 6.x branch: https://github.com/elastic/elasticsearch-ruby/commit/4cb5e2682af5e733b3429f2b8e038a0847d1c883

[2018-12-09 15:30] estolfo commented on #576
@Mifrill I wouldn't recommend using master of the gem in production. If you are just testing, that's fine, but please stick to using released versions in production.
The change will definitely be in the next release, as I've just added it to the stable branch = )

[2018-12-09 15:37] Mifrill commented on #576
@ESamir got it, thank you, I appreciate it.

[2018-12-11 15:50] estolfo commented on #495
@lukkry I've opened this PR to address this https://github.com/elastic/elasticsearch-ruby/pull/577
Let me know if you have a chance to test it. Thanks

[2018-12-11 16:32] estolfo opened #578 "deprecate /_xpack endpoints"
Deprecate /_xpack endpoints (e.g., /_xpack/ml -> /_ml)
As of 7.0.0-alpha2

[2018-12-12 14:49] estolfo commented on #495
@lukkry No problem. Thanks for opening this issue, in any case!

[2018-12-13 11:48] estolfo commented on #495
The PR has been merged into master and 6.x so I'm going to close this issue.

[2018-12-19 10:33] estolfo opened #581 "[API] Remove parameter-checking in API endpoints"

[2018-12-19 11:05] dtynewydd commented on #574
@estolfo I've tried your suggestion and replicated my working build as closely as possible on my dev machine but this issue is still present.

Can we re-open this issue please?

[2018-12-19 11:46] estolfo commented on #574
Hi @dtynewydd In the meantime, I've discovered that version 0.0.30 does not contain a fix for this that was included in version 0.0.29 and 0.0.28. See my comment [here](https://github.com/elastic/elasticsearch-ruby/issues/576#issuecomment-445544790)
Would you mind testing version 0.0.29 or 0.0.28 and let me know if it works? Thanks

[2018-12-19 11:57] dtynewydd commented on #574
Just gave 0.0.29 a test and that seems to be working fine!

Thanks for taking a look into this, I appreciate it.

[2018-12-19 11:57] #574 closed

[2018-12-19 11:59] estolfo commented on #574
Great! I'm glad to hear that.

[2018-12-22 08:54] MaulishShah opened #584 "how to set fielddata true on created index"
currently i used kibana 6.4.0 version and elasticsearch 6.5.3 and i want change fielddata = true on already created index so can you please suggest solution how to update the by default fielddata value to true ?

My code is :
POST schools/_bulk
{ "index":{"_index":"schools", "_type":"school", "_id":"1" ,"fielddata ":true }}
{ "name":"Central School", "description":"CBSE Affiliation", "street":"Nag

[2019-01-09 08:42] caalberts opened #587 "Elasticsearch::Extensions::Test::Cluster#__determine_version is broken on JRuby"
I  found out that the `Elasticsearch::Extensions::Test::Cluster` is broken on JRuby. It fails to determine version of Elasticsearch when using `elasticsearch --version` or `elasticsearch -v`.

It looks like it's caused by `IO.pipe` behaving differently on JRuby (lines 486-494).

[code]

[2019-01-09 13:11] estolfo commented on #587
Hi @caalberts
I'm sorry to hear you're having trouble with `Elasticsearch::Extensions::Test::Cluster`
Can you please tell me the version of JRuby you are using? Can you also send the command you are running with the output? Thanks

[2019-01-09 15:45] caalberts commented on #587
I tested it using RSpec with JRuby 9.1.17.0 and 9.2.5.0, both having the same result.

[code]

I managed to fix it by replacing `IO.pipe` with `IO.popen`. Happy to submit a PR.

[2019-01-11 21:55] nwesoccer opened #592 "Composite Aggregation"
Is it not possible currently to use Composite Aggregation?  https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-composite-aggregation.html

[2019-01-14 13:46] #587 closed

[2019-01-14 16:17] estolfo commented on #592
Hi @nwesoccer Thanks for your question. Can you be a little more precise - do you mean is it possible to use Composite Aggregation with the DSL? If you could show me with some code what you are trying to do, that would help. Thanks!

[2019-01-21 10:03] trentzhou opened #596 "Cannot handle IPv6 host"
Look at https://github.com/elastic/elasticsearch-ruby/blob/master/elasticsearch-transport/lib/elasticsearch/transport/transport/base.rb#L237
If host is something like `2090:db8:85a3:9811::1f`, the full URL then becomes `http://2090:db8:85a3:9811::1f:9200`, which is not valid.

For IPv6 addresses, the full URL should be `http://[2090:db8:85a3:9811::1f]:9200`

[2019-01-22 08:31] karmi commented on #596
Hi @trentzhou , right IPv6 is something we have to look into, see also issue related to handling IPv6 during sniffing here: https://github.com/elastic/elasticsearch-ruby/issues/539

[2019-01-31 09:32] Rudikza opened #601 "search results differ between elasticsearch-ruby and Kibana DevTools."
I first used the Kibana Dev Tools to work out my query and then I translated that to the elasticsearch-ruby gem but for some reason my results differ using almost exactly the same structure.

## Kibana Dev Tools Query as Curl statement
[code]
## elasticsearch-ruby query
[code]
## elasticsearch-ruby code
[code]

## Results from curl:
[code]
## Results from gem:
[code]

Any dieas why this might be h

[2019-01-31 09:53] karmi commented on #601
Not sure, but in the Kibana query, you have `lte` operator, whereas in the Ruby code you have the `lt` operator.

[2019-01-31 10:17] Rudikza commented on #601
Dope, that was it. Thanks so much.

[2019-01-31 10:17] #601 closed

[2019-02-05 18:14] estolfo commented on #576
@mattbooks Sorry for the delay, I'll release this week!

[2019-02-06 14:13] estolfo commented on #576
@mattbooks I've released elasticsearch-extensions [version 0.0.31](https://rubygems.org/gems/elasticsearch-extensions/versions/0.0.31)

[2019-02-06 19:05] jschoolcraft commented on #592
not @nwesoccer but we have a use case for Composite aggregation to use for graphing data with Vega, here's an example of the query we need:

[code]

[2019-02-17 18:56] marco-nicola commented on #402
Hi,  sorry for not having replied earlier, and also for the scarcity of details.

First things first, I noticed the issue while using the Gem for the DSL only, that is [`elasticsearch-dsl`](https://rubygems.org/gems/elasticsearch-dsl). I was using version `0.1.4`, and then noticed an unexpected change in code's behavior after upgrading to version `0.1.5`. In this specific context, the current late

[2019-02-18 12:00] kamal2793 opened #607 "Elasticsearch client rejecting data node if response time of particular node increases"
We are using multiple data nodes in es cluster.
NODE_1 = Node having all primary shards.
NODE_2  = Node having all replica shards.

And we are running PUMA with 2 workers and 2 threads each and using typhoeus as HTTP CLIENT.

`$client = Elasticsearch::Client.new(hosts: [http://IP1:9200, http://IP2:9200])`

When response time of any node increases then application doesn't send request to that parti

[2019-02-19 15:37] KristianZH opened #608 "The Elastic plugin uses deprecated fields of the elasticsearch"
I think i have found the following issue with the elasticsearch plugin:
[See here](https://discuss.elastic.co/t/deprecation-deprecated-field-template-used-replaced-by-index-patterns/129943/3)

[2019-02-20 16:33] estolfo commented on #402
@marco-nicola I think I've tracked down this issue and opened [this pull request](https://github.com/elastic/elasticsearch-ruby/pull/609) to fix it. Would you mind testing it and letting me know if it works for you? Thanks!

[2019-02-20 18:08] marco-nicola commented on #402
@estolfo for sure the fix goes in the right direction!

Now if a Hash is passed to a `bool`'s `filter(...)` (as you also do in the tests) the final `to_hash` representation looks correct.

Nevertheless, depending by the level of stubbornness we want to apply here, this is not yet fully back-compatible. In fact, if you pass to `filter(...)` an actual instance of `DSL::Search::Filter`, I would expec

[2019-02-21 10:13] estolfo commented on #402
@marco-nicola Thank you for reviewing the pull request and pointing out where it fell short. I have just added [another commit](https://github.com/elastic/elasticsearch-ruby/pull/609/commits/f144346d541996ec22180e0746c12b4ac6390178) that I believe addresses the additional issue you described. Would you mind taking a look? Thank you

[2019-02-21 17:12] marco-nicola commented on #402
@estolfo Thank you, I'm really happy that you decided to go on with the fix. :relaxed: I had a look at the newer code, and also run once again my script: the code looks good to me, and the script works like a charm!

Since also Travis seems to be happy, I can "virtually" approve all your changes! :smile:

[2019-02-21 17:16] estolfo commented on #402
Super, thanks @marco-nicola !

[2019-02-21 17:26] marco-nicola commented on #402
I see you just merged it, great! &rarr; https://github.com/elastic/elasticsearch-ruby/pull/609

Many thanks to _you_! :smiley: :heart:

[2019-02-21 17:26] #402 closed

[2019-02-28 09:32] hasantayyar commented on #230
@vikigenius if you can manipulate the Content-Length, set it to 0 or remove it from the request to Squid.
Squid will re populate and generate the headers to destinations if required.

http://squid-web-proxy-cache.1019090.n4.nabble.com/Content-length-0-on-GET-patch-td4658228.html

[2019-03-01 14:01] stripedpumpkin opened #612 "Elasticsearch::Extensions::Test::Cluster.start with debian package elasticsearch"
The following is more of a how-to question than an issue (though it seems very similar to https://github.com/elastic/elasticsearch-ruby/issues/365).

**Context:**
- We have a Rails app using elasticsearch-rails and elasticsearch-model
- Locally we are on Ubuntu 16.04 and installed elasticsearch through
[code]

[code]

[code]
- In dev the interaction seems fine

**Goal:**
- Have a development elast

[2019-03-03 17:07] RonaldKlaus commented on #584
Hi @MaulishShah.
I am not sure, what you intent to do, but I will try to answer your question anyway 😉

`fielddata` is a data structure for `text` fields, that is created in-memory, the first time a specific field is part of a build of aggregations, sorting, or in a script. For more details take a [look](https://www.elastic.co/guide/en/elasticsearch/reference/current/fielddata.html).

In your exam

[2019-03-05 14:49] Sergey34 commented on #596
Hi!
please, see my [pull request](https://github.com/elastic/elasticsearch-ruby/pull/614)

[2019-03-07 19:03] michaelize opened #616 "Support query_string type option in 6.x"
I see that the support has been added to master in https://github.com/elastic/elasticsearch-ruby/pull/572 but hasn't got merged into 6.x branch. Is there plan doing this merge?

Appreciate feedback here. Not very familiar with the merge flow in this repo.

[2019-03-11 09:10] estolfo commented on #616
Hi @michaelize Thanks for pointing that out, I just made the change int he 6.x branch as well: https://github.com/elastic/elasticsearch-ruby/commit/90b1da8aa40cea57170c5afaea007620bcba10ac

[2019-03-11 09:10] #616 closed

[2019-03-12 10:12] aditisrinivas97 opened #619 "Document not immediately searchable after index refresh"
Hi, I tried to execute the example given for `refresh`. I want my document to be searchable right after indexing. I understand this is an expensive operation and may affect the performance, but I would appreciate the help.

Here's what I executed,

[code]

I expected to get 1 hit but instead, this is what I got,

After indexing,
[code]
After searching,
[code]

[2019-03-12 10:36] estolfo commented on #619
Hi @aditisrinivas97, thanks for your question. Can you clarify how you are creating the Elasticsearch client? The syntax you are using is not consistent with the curent version of the gem. Do you have a helper class for creating clients?

Can you also please specify the following:

1. What version of Elasticsearch you are using
2. What version of the `elasticsearch` gem you are using
3. What the o

[2019-03-12 10:54] aditisrinivas97 commented on #619
Hi, thanks for the quick reply!

These are the versions I'm using.
[code]

Output of client.cluster.stats :
[code]

As for the client, I used the example ES client given in the README.md in `elastisearch-api` folder but customised it a little to accept the `url` as an argument.
[code]

[2019-03-14 21:18] gschwel opened #622 "Problem validating JSON document against schema:"
I thought this issue was resolved in a previous update, but we still receive this error.

**"Problem validating JSON document against schema: I[#] S[#] doesn't validate with \"metricset#\"\n  I[#] S[#/allOf/0] allOf failed\n    I[#/samples/system.memory.actual.free/value] S[#/allOf/0/properties/samples/patternProperties/%5E%5B%5E%2A%22%5D%2A$/properties/value/type] expected number, but got null [{

[2019-03-20 18:13] adamortyl commented on #532
@estolfo - Do you happen to know if there is an ETA for the next release which includes this change?

[2019-03-22 16:33] ioanatia opened #624 "Missing supported params for ES 6.6 and 6.7"
**gem version: 6.2.0**

`if_seq_no` and `if_primary_term` parameters were added in 6.6 for the indexing and document deletion APIs:

https://www.elastic.co/guide/en/elasticsearch/reference/6.6/docs-delete.html#optimistic-concurrency-control-delete

https://www.elastic.co/guide/en/elasticsearch/reference/6.6/docs-index_.html#optimistic-concurrency-control-index

However when using the ruby client,

[2019-03-22 22:41] yaauie opened #625 "When host specified as string url, default port is 80"
A bug was recently filed on the Logstash Elasticsearch Filter Plugin, indicating that specifying a schema in the host argument would cause the client to fail to provide the default port.

The issue is that when we send [`URI#parse(String)`](https://github.com/elastic/elasticsearch-ruby/blob/master/elasticsearch-transport/lib/elasticsearch/transport/client.rb#L197), URI finds the http/https impleme

[2019-03-25 11:09] estolfo commented on #532
@adamortyl I've just release the `elasticsearch-dsl` gem version `0.1.7` https://github.com/elastic/elasticsearch-ruby/releases/tag/v0.1.7

[2019-03-25 13:31] adamortyl commented on #532
@estolfo - You are the best. Thank you!

[2019-03-29 09:25] estolfo commented on #624
The missing parameters to support Elasticsearch 6.7.0 have been added in this commit: https://github.com/elastic/elasticsearch-ruby/commit/1d94db7d494091bf9c6e874b1cb1e8283dbe623d

The client is being tested against Elasticsearch 6.7.0 in Jenkins [here] (https://clients-ci.elastic.co/job/elastic+elasticsearch-ruby+6.x/113/)

[2019-03-29 09:33] #624 closed

[2019-04-01 11:06] estolfo opened #629 "Update links in elasticsearch-dsl gem README"

[2019-04-02 23:18] trevorcreech commented on #386
fyi this was backported and released in version `1.1.3`

Commit: https://github.com/elastic/elasticsearch-ruby/commit/4ddda0257d35079cc886d8c0b9fc013c3400e7cf

[2019-04-09 12:28] estolfo opened #639 "Deprecate X-Pack centric REST endpoints"
See https://github.com/elastic/elasticsearch/issues/35958

[2019-04-09 16:37] cesarizu opened #642 "Semver is broken with minor update of elasticsearch-ruby"
Updating `elasticsearch` from `6.2.0` to `6.3.0` breaks other code and gems that use `get_aliases` (e.g. `searchkick`).

Does this gem follow the [semver](https://semver.org/) conventions? In that case the version should've been updated to 7.0 (breaking change), or else, the `get_aliases` method should've been deprecated.

[2019-04-09 18:47] estolfo commented on #642
@cesarizu version `6.3.0` of the elasticsearch gem supports version `6.7` of the Elasticsearch server as noted [here](https://github.com/elastic/elasticsearch-ruby/releases/tag/v6.3.0), which is why some API endpoints were removed.
I understand this breaks semver and will release a patch gem version `6.3.1` with the endpoints back in, in case you are using a version < `6.7` of Elasticsearch.

The

[2019-04-12 13:03] patilarpith commented on #619
As you index new documents, ES will buffer the writes. Every write refresh cycle (default 1 second) a new Lucene segment is created within the ES shard with all buffered documents and the documents will become searchable

[2019-04-13 18:28] aditisrinivas97 commented on #619
Thanks @patilarpith!

[2019-04-13 18:29] #619 closed

[2019-04-17 19:15] watsonjon commented on #592
I also needed a composite aggregation like this:

[code]

I used this class to get it working for now, may put up a PR if it seems ok:

[code]

[2019-05-02 03:50] estolfo commented on #642
@cesarizu I've release version [6.3.1](https://github.com/elastic/elasticsearch-ruby/releases/tag/v6.3.1) of the elasticsearch gems with the "bug fix" of having broken semver. Let me know if there are any issues.

[2019-05-02 10:37] alexdelvecch commented on #358
Hi.

I just found this old post and thought it match my question about composition with the DSL lib.

Is it possible to make composition of bool queries without chaining blocks ? I know it is possible for the "Search" class but it seems (with my understanding of the code) that it is not possible with the "Bool" class.
If there is a way, your help would be much appreciated. :)

Thank you !

[2019-05-03 02:33] estolfo commented on #642
I'm going to close this as version 6.3.1 is out fixing the issue.

[2019-05-03 02:33] #642 closed

[2019-05-03 02:51] estolfo commented on #629
Fixed in the following commits:

1f6e12219384f6ef3f65ed172943f70e0618fa45
aab5b2c8bf632dd8f55e03c59d1910e74be5bedd
d92a81b70f8e7acd97dbf00cd38328102184026d
1e209a0e27f7f60f099495211eb6fb630a5c565a
89ab690c9541204a5d108f7845362eeb7ba138e5
f1b54f9212cd1436d82ea2b3d75eeae82fd6519d

[2019-05-03 02:51] #629 closed

[2019-05-03 06:46] estolfo commented on #625
PR: https://github.com/elastic/elasticsearch-ruby/pull/647

[2019-05-03 06:48] estolfo commented on #612
@stripedpumpkin Sorry for the delay. Is this still an issue?

[2019-05-03 06:50] estolfo commented on #608
@KristianZH Is this still an issue and is it related to the Ruby client?

[2019-05-03 06:51] estolfo commented on #592
Resolved by: https://github.com/elastic/elasticsearch-ruby/pull/645
Thanks to @watson !

[2019-05-03 06:51] #592 closed

[2019-05-03 06:56] #539 closed

[2019-05-03 07:10] estolfo commented on #426
Closing as the user hasn't responded and the issue is very old

[2019-05-03 07:10] #426 closed

[2019-05-03 07:30] estolfo commented on #428
Resolved in https://github.com/elastic/elasticsearch-ruby/commit/c0dd04834e5c7cf13792b4ced8e894c44d1f6f35

[2019-05-03 07:30] #428 closed

[2019-05-03 07:33] estolfo commented on #358
@alexdelvecch Can you provide an example of what you'd like to do?

[2019-05-03 08:42] alexdelvecch commented on #358
@estolfo Yes sure !

Here is what I want to do (just know that I have a specific "add_bool_query" method in my query builder service to add objects in to first bool query - represented here by the bool query with ".must"):
[code]

So right now I extended the bool class and added new methods like "must=", "should="... For this kind of usage :
[code]

Let me know if if you want more explanations.

[2019-05-03 09:06] estolfo commented on #358
@alexdelvecch And what do you mean by "without chaining blocks"?

[2019-05-03 09:07] estolfo commented on #622
@gschwel Sorry can you give some more context? Is this question related to the Ruby client?

[2019-05-03 09:09] estolfo commented on #607
@kamal2793 Is this still an issue? Can you provide some more context and an example? How much does the response time of a node increase and how do you observe that the application doesn't send requests to that particular node?

[2019-05-03 09:14] alexdelvecch commented on #358
@estolfo : Actually the "Bool" class cannot be used the way I showed you. It only works doing like so (tell me if I am wrong) :

[code]

[2019-05-03 09:16] estolfo commented on #358
I see. I'll look into it and update you, thanks!

[2019-05-03 09:17] estolfo commented on #358
in the meantime, feel free to open a PR for the functionality that you want ; )

[2019-05-03 09:22] alexdelvecch commented on #358
Thanks for your time, reactivity and the good work on the lib !

I will open a PR with my personal account today or this weekend.

[2019-05-03 17:05] stripedpumpkin commented on #612
@estolfo No, not any more. I guess it was a bad idea to start with. We are instead separating test and dev indices which seem good enough for our needs.

[code]

Closing this issue.

[2019-05-03 17:05] #612 closed

[2019-05-06 13:18] estolfo commented on #625
Further updates:
https://github.com/elastic/elasticsearch-ruby/pull/649
https://github.com/elastic/elasticsearch-ruby/commit/467f473ffc07c6f07427c486aba93e77bcae758f

[2019-05-06 13:18] #625 closed

[2019-05-06 13:31] #622 closed

[2019-05-06 13:31] estolfo commented on #608
Please reopen if you have more context.

[2019-05-06 13:31] #608 closed

[2019-05-06 14:06] estolfo commented on #584
@MaulishShah was your question answer above?

[2019-05-06 14:10] estolfo commented on #578
Duplicate of https://github.com/elastic/elasticsearch-ruby/issues/639

[2019-05-06 14:10] #578 closed

[2019-05-06 14:16] estolfo commented on #526
@ccoffey Is this still something you'd like to discuss? Looking at the code, it seems that conditionally using another middleware would require closing all connections at that time and rebuilding them, which might not be desirable. I don't know the whole context of your scenario and the behavior of the "other" middleware but it sounds like it would be better to just create another client object, w

[2019-05-06 18:13] Defgenx opened #650 "[DSL] : Search#filter generate bad request"
When I am using Search#filter, it seems to generate a hash that is not nested in the "query" top key. The correct syntax can be seen here (old / new syntax) : [Filtered query](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-filtered-query.html)

To help here is a generated query :
[code]

And here is the output from Elasticsearch (running in 6.7.1)
[code]

Maybe I'm wrong

[2019-05-07 03:03] MaulishShah commented on #584
Yes!..

On Mon, May 6, 2019, 7:37 PM Emily S <notifications@github.com> wrote:

[2019-05-07 08:37] estolfo commented on #584
great, then I'll close this issue.

[2019-05-07 08:37] #584 closed

[2019-05-07 08:38] estolfo commented on #607
I'm going to close this issue. Please reopen it if you are able to provide some more details.

[2019-05-07 08:38] #607 closed

[2019-05-07 10:05] estolfo opened #652 "Define strategy for connecting to Cloud and document it"
https://github.com/elastic/elasticsearch-ruby/pull/655

[2019-05-07 11:05] Defgenx commented on #650
@estolfo : Yes. Here is a code example :
[code]

Here the output of the `test_search.to_hash` :
[code]

Tell me if you need more code.

[2019-05-07 11:55] estolfo commented on #596
With the recent changes to the host parsing code, the error is actually coming from `Faraday` now. Specifically, [this line](https://github.com/lostisland/faraday/blob/v0.15.4/lib/faraday/connection.rb#L454) won't work with IPv6 addresses.

The way to avoid hitting that line in `Faraday` is to set the `Faraday.ignore_env_proxy` setting to true. If you'd like to bring up the issue with the `Faraday

[2019-05-07 14:22] estolfo commented on #650
@Defgenx I believe the error is because you need to nest the `filter` condition in the `bool` part of the query definition. You can do that creating objects or with blocks.
[code]
Here are the two methods as hashes:
[code]
And then here is the result of performing the search against Elasticsearch 6.7.1 with the hashes:
[code]

Does that resolve the issue for you?

[2019-05-07 14:32] estolfo commented on #460
Closing this as it was an Elasticsearch issue.

[2019-05-07 14:32] #460 closed

[2019-05-07 14:34] estolfo commented on #191
I'm going to close this as no one has requested this since 2015 and there doesn't seem to be a strong use case.

[2019-05-07 14:34] #191 closed

[2019-05-07 14:52] estolfo commented on #506
I believe this depends on the underlying HTTP client library you're using and the options it has available. For example, you can set `Faraday.ignore_env_proxy`. For other libraries, you can pass options to the client that will be applied to the HTTP library with `:transport_options`.
Does that answer your question?

[2019-05-07 15:01] Defgenx commented on #650
@estolfo : Yes. The Bool#filter method works like a charm.
Actually in the link I gave the "must" clause is not an array but an object and that's why I thought it was possible. Sorry.

Thanks for your time.

[2019-05-07 15:05] #650 closed

[2019-05-07 15:05] estolfo commented on #650
No problem! I'm glad we got it figured out.

[2019-05-07 15:21] estolfo commented on #555
@PhilCoggins I've opened a pull request here: https://github.com/elastic/elasticsearch-ruby/pull/654
Let me know what you think!

[2019-05-07 16:41] PhilCoggins commented on #555
LGTM, thank you!

[2019-05-08 15:12] estolfo commented on #555
thank you @PhilCoggins !

[2019-05-08 15:12] #555 closed

[2019-05-09 08:52] estolfo commented on #596
Closing as https://github.com/elastic/elasticsearch-ruby/pull/653 has been merged.

[2019-05-09 08:52] #596 closed

[2019-05-09 08:53] estolfo commented on #526
I'm going to close this as I think the best way to handle having different Faraday middleware is to create different client objects.

[2019-05-09 08:53] #526 closed

[2019-05-09 08:54] estolfo commented on #506
I'm going to close this issue but feel free to reopen it if there are further questions.

[2019-05-09 08:54] #506 closed

[2019-05-09 13:32] estolfo commented on #177
I've used the Dockerfile to try to reproduce this on ruby 2.6 and I get the timeout error, not the `SystemStackError`:

[code]

Is this still an issue @shaicoleman ? If so, please provide further instructions on how to reproduce.

[2019-05-09 15:45] shaicoleman commented on #177
@estolfo, I've tried the Dockerfile with Ruby 2.6, and it's still the same underlying issue, though with different side effects now.

It still gets into an endless loop, but when I tried it only repeated 33 times, which is not enough to trigger a stack overflow.

It should have terminated execution after 1-2 seconds, but it doesn't. It takes an order of magnitude longer to actually time out.
`real

[2019-05-10 08:29] wyukawa opened #656 "deadlock error occurred in elasticsearch-transport-7.0.0"
Hi,

We send logs our elasticsearch with fluent-plugin-elasticsearch but deadlock error occurred when we restarted our elasticsearch.

Any solution?

[code]

* OS
CentOS Linux release 7.6.1810 (Core)

* Elasticsearch
7.0.1

* Ruby
ruby 2.6.3

Gemfile.lock
[code]

[2019-05-10 09:25] estolfo commented on #656
@wyukawa Thank you for reporting this. Can you please provide the following information:
- Did this happen immediately after upgrading to elasticsearch client v7.0.0?
- Does this happen repeatedly or has it only happened once, when you restarted Elasticsearch?
- Are you able to reproduce the error?
- Did you introduce any other changes into your application?
Thanks

[2019-05-10 12:01] wyukawa commented on #656
Thank you for your reply!

At least, I didn't find the same error in elasticsearch client v6.x but at that time I used ES v6.x.

Yes because fluent-plugin-elasticsearch retry when error occurs in elasticsearch client but retry doesn't succeed due to the same error(i.e. deadlock error)

I'm not sure... I found the problem for the first time.

No but elasticsearch version is different.
elasticsearch

[2019-05-10 15:39] estolfo commented on #656
@wyukawa Thank you for your response. Can you please share some Ruby code that we help me reproduce this?

[2019-05-11 01:24] wyukawa commented on #656
I don't write Ruby code but use https://github.com/uken/fluent-plugin-elasticsearch

fluentd conf is like this
[code]

[2019-05-18 15:00] rickyc opened #659 "[Question] Connection Selector to Choose Connections Based off of Index or URL"
Is it possible to use [connection selector](https://github.com/elastic/elasticsearch-ruby/tree/master/elasticsearch-transport#connection-selector) to route connections based off of the URL from the faraday connection? Thanks!

What I'm trying to do is route different indices to a different connection.

**Example**
[code]

[2019-05-21 13:57] angelcabo opened #660 "[DSL] Support Field Collapsing"
Hello,

Is field collapsing currently supported by the DSL gem? If not, are there any plans to add it?

Thanks!

[2019-05-22 19:05] estolfo commented on #659
@rickyc Thanks for your question. So I can give the best answer, I'd like to get a little more context on what you are trying to do. Can you tell me why you want to route the connections and what the differences in the urls would be? Thanks!

[2019-05-22 19:27] rickyc commented on #659
Thanks for getting back to me @estolfo!

Let's say I have an application with a few indices (Animals, Shelters, Breeders) that are being indexed on a DigitalOcean Elasticsearch instance.

Now I want to add a few more indices on the same application (Stores, Inventory, Customers), but I want to index them on Elastic.co instead.

I can migrate all the indices to elastic.co, but let's say for the sak

[2019-05-22 19:38] estolfo commented on #659
Hi @rickyc I just want to make sure I understand correctly - the indices (Animals, Shelters, Breeders) are in one Elasticsearch cluster and the other indices (Stores, Inventory, Customers) are in an entirely different Elasticsearch cluster?

[2019-05-22 19:41] rickyc commented on #659
Yep, that's correct!

On Wed, May 22, 2019 at 3:38 PM Emily S <notifications@github.com> wrote:

[2019-05-22 19:48] estolfo commented on #659
In that case, you would want to use different clients. You should share one client between models using the same cluster.
If you are using Rails and the elasticsearch-rails gems, you can define certain clients for different rails models. Does that make sense?

[2019-05-22 19:51] rickyc commented on #659
Yep, that makes a lot of sense. I believe the reason I started digging down the transport route was because [searchkick](https://github.com/ankane/searchkick) only allows for one client.

[2019-05-22 19:53] estolfo commented on #659
ah, ok. This gem is different in that one client should be dedicated to a single cluster, not many Elasticsearch clusters. Let me know if you're all set and I can close this issue.

[2019-05-22 19:55] rickyc commented on #659
Thanks for the assist! Appreciate the clarifications!

[2019-05-22 19:55] #659 closed

[2019-05-22 21:24] estolfo commented on #660
@angelcabo It doesn't look like we have support for that in the DSL gem right now. Do you want to try to add it in a PR? Otherwise I can flag this as a new feature.

[2019-05-23 10:44] him3010 opened #662 "RoundRobin selector failed to get connection from pool in JRUBY due to parallel execution"
Currently we shifter our search application from ruby to jruby environment, and start getting the error "Cannot get connection from the pool" even if we have provided a large number of hosts to Elasticsearch::Client object which is shared across all the threads. After digging in the code

[code]
we found the @current variable is not synchronized. So we rewrote the selector class and issue went awa

[2019-05-23 12:52] Lajcisvk opened #663 "Test::Cluster clear_cluster option is ignored"
At the moment you are unable to change clear_cluster option through arguments.
When clear_cluster is set to false it will still take its value from environment variable (and change it to true)

[2019-05-23 15:59] estolfo commented on #662
@him3010 thanks for opening this issue. Do you have a simple script or code sample that reproduces the issue?

[2019-05-23 19:01] estolfo commented on #662
@him3010 I have been trying to reproduce the error and haven't been able to. So can you please tell me the following:

- How many connections you have?
- What is the stacktrace of the error?
- What version of the client are you using?
- What version of JRuby are you using?

[2019-05-23 19:54] #663 closed

[2019-05-24 06:49] him3010 commented on #662
@estolfo  we are using  gem 'elasticsearch-persistence'  6.0.0', 'elasticsearch-transport'  '6.3.1'.
JRUBY Version - 9.2.5.0 with ruby version - 2.5.0
rails version - 5.1.4

In production we are using puma as a application server with the Puma Config :-
Workers - 1
MinThreads - 10
MaxThreads - 60

Resolved hosts is the array of the elasticsearch nodes - [es.abc.com:9200, es1.abc.com:9200, es.abc.c

[2019-05-24 06:51] him3010 commented on #662
Elasticsearch::Transport::Transport::Error: Cannot get new connection from pool.

Stack trace (hide Rails)
…rt-6.3.1/lib/elasticsearch/transport/transport/
base.rb: 258:in `perform_request'
…/lib/elasticsearch/transport/transport/http/
faraday.rb:  20:in `perform_request'
…-transport-6.3.1/lib/elasticsearch/transport/
client.rb: 143:in `perform_request'
…csearch-api-6.3.1/lib/elasticsearch/api/act

[2019-05-24 06:55] him3010 commented on #662
Hi i have been trying to replicate this issue on staging environment but so far no luck, but whenever it is tested on production it reproduces the error. And after applying the fix no connection pool errors were seen

[2019-05-24 09:47] him3010 commented on #662
[code]

this script will reproduce the error

Steps to run this script -

First run  **jruby script.rb** ( you will see an error cannot get connection from pool). try to run it 2-3 times to see the error. (If lucky can get error in first time)

then run **jruby script.rb use_selector** ,  no matter how many times you run this script with use_selector the script will not fail

[2019-05-24 20:36] estolfo commented on #662
@him3010 Thank you for the detailed info. I was able to reproduce the issue and identify the problem. I've opened a pull request, as you've seen. Would you mind taking a look at the updates I've made today? https://github.com/elastic/elasticsearch-ruby/pull/665/files
Thanks!

[2019-05-27 05:28] him3010 commented on #662
Sure will look into the PR

[2019-05-28 21:12] myronmarston opened #667 "`Elasticsearch::Extensions::Test::Cluster.start` periodically times out due to java FileAlreadyExistsException on config/elasticsearch.keystore.tmp"
I'm using elasticsearch-extensions to boot a cluster for my tests, as part of our CI build.

[code]

Locally, I've never seen this happened (so I don't have a way to deterministically reproduce this), but on our CI build, this happens 20-40% of the time.

My initial thought was that some how the `/path/to/elasticsearch-6.5.4/config/elasticsearch.keystore.tmp` file was already present on disk when

[2019-05-29 14:55] estolfo commented on #662
Fixed by https://github.com/elastic/elasticsearch-ruby/pull/665

[2019-05-29 14:55] #662 closed

[2019-05-29 14:58] estolfo commented on #667
Hi @myronmarston
Thanks for your question. I had that issue on Travis and solved it by intentionally creating the keystore before starting Elasticsearch. See the line here: https://github.com/elastic/elasticsearch-ruby/blob/master/.travis.yml#L65
Maybe you can try something similar?

[2019-05-29 15:18] defgenx opened #668 "[DSL] Search.sort should work with a sort object as argument"
Here is my case :
[code]
This is not Elasticsearch compliant.

[2019-05-29 16:48] estolfo commented on #652
PR was merged into master and 7.x

[2019-05-29 16:48] #652 closed

[2019-05-29 17:34] dansimpson opened #669 "Defaulting to port 9200"
Recently the URI parsing behavior changed from inferring the default ports of HTTP and HTTPs to forcing port 9200.  This can break applications which update their gem, and do not update the corresponding connection string.  While Elasticsearch itself doesn't bind to standard ports for HTTP and HTTPs, proxies typically do.

Per the spec of RFC 3986, when the optional port is not included, the defau

[2019-05-29 17:40] estolfo commented on #669
Hi @dansimpson Thanks for opening this issue. Would you mind providing an example so I can see exactly what you mean? Thanks!

[2019-05-29 17:45] dansimpson commented on #669
Sure thing:

[code]

[2019-05-29 19:57] myronmarston commented on #667
Thanks @estolfo!

[2019-05-29 19:57] #667 closed

[2019-05-31 10:05] estolfo commented on #669
Hi @dansimpson Thanks for the code example, it's clear now what the issue is. I'm just checking with the clients team so we can be sure to standardize on the behavior and will have an update soon. In the meantime, you can specify the port as an option separately to get the previous behavior.
[code]

[2019-05-31 19:34] dansimpson commented on #669
@estolfo

Thank you.  Encoding the port in the URI string works per the spec, eg:

[code]

The issue is that a change was made which breaks existing connection strings out in the wild, and goes against the RFC for URI strings.  I look forward to the the client team's thoughts.

[2019-05-31 20:51] ankane commented on #669
fwiw, I think this change is going to break a lot of apps. A number of Searchkick users have already reported issues (referenced above).

[2019-06-03 09:33] estolfo opened #671 "Simplify ways that hosts are specified when a client is instantiated"
Right now, the `Elasticsearch::Client.new` can accept the keys:

- `host`
- `hosts`
- `url`
- `urls`

And the values can be:
- `Array`
- `Hash`
- `String`

This should be consolidated into one key and one type. For example, just `hosts` and a list of `String` or `URI` objects:

`client = Elasticsearch::Client.new(hosts: [ 'http://localhost:9200' ])`

[2019-06-05 11:47] bostanio opened #673 "Release an updated version of elasticsearch-dsl"
Hoping there can be a release that contains df2f9f32ad2d72353d4a489e29b4ab01a569bb92

[2019-06-05 13:20] asima2299 commented on #673
#672

[2019-06-06 15:48] estolfo commented on #673
I just released `elasticsearch-dsl` `v0.1.8`

[2019-06-07 11:36] defgenx commented on #668
I tested the solution that came to my mind and it was not working with every use case (the reason why I edited my first post).

So I think the simplest way to answer my problem is to create a `sort=()` method.

[2019-06-13 10:55] #673 closed

[2019-06-14 11:15] estolfo commented on #668
@defgenx Is there a reason you can't use a block to define the search and sort?
Like this:

[code]

[2019-06-14 19:54] defgenx commented on #668
@estolfo : Thanks for your answer.  Yes, here are the reasons.

1 - There is a "by" method, I think it should be used for what it is made for ; as the block can use it
2 - I want to compose sort and it is not possible to make `something.each` inside the sort block.

for instance this does not work:
[code]

[2019-06-18 15:33] estolfo commented on #669
The consensus is that the client should assume protocol `http` if not specified and assume port `9200` if the protocol is `http`. This library is a client to something that uses port `9200` by default. I don’t see a strong case for why the client should use a different port other than the one that Elasticsearch uses as a default.

That said, I would encourage people to specify a port when creating

[2019-06-18 15:33] #669 closed

[2019-06-18 18:18] ankane commented on #669
Hey @estolfo, what do you think about `https`? From what I've heard, that's what's impacting most users.

[code]

For elasticsearch-ruby < 7.0, it's 443. For 7.1+, it's 9200.

(fwiw first heard about this from an Elastic Cloud customer who's app was impacted, since the Elastic Cloud [Heroku addon](https://elements.heroku.com/addons/foundelasticsearch) doesn't specify the port)

[2019-06-18 19:18] samstickland commented on #358
So what I mean is, that if I want to compose a complex query out of multiple methods, it throws a `NoMethodError`. For example, something like this:

[code]

Throws the error `NoMethodError: undefined method `subquery' for #<Elasticsearch::DSL::Search::Queries::Bool:0x00007f8f43c6eda8>`

[2019-06-20 03:11] wyukawa commented on #656
This problem doesn't happen in fluent-plugin-elasticsearch 3.5.2, elasticsearch ruby 7.1.0, Elasticsearch 7.1.1

[2019-06-21 10:26] estolfo commented on #656
@wyukawa Thanks for the update and I'm glad the most recent client version does not get this error. Shall we close this issue then?

[2019-06-21 11:19] wyukawa commented on #656
Yes

[2019-06-21 11:19] #656 closed

[2019-06-21 11:38] estolfo commented on #668
@defgenx Thanks for the context. I guess there's no harm in having the method so I'll merge the PR. Thanks!

[2019-06-21 11:39] #668 closed

[2019-06-21 18:59] brianarpie opened #677 "How to get _source in JSON string format, not a Hash?"
I want to search my Elasticsearch index and pass the result _source JSON directly to my Javascript client for consumption.

**How can I get _source in JSON string format instead of the default Ruby Hash format?**

If I fetch a large object from Elastic, I need to convert it from Hash to JSON before passing it back to the client (a Javascript browser application). This is a huge bottleneck for me.

[2019-06-25 10:39] estolfo commented on #440
Closing this issue because of no response and no strong use-case.

[2019-06-25 10:39] #440 closed

[2019-06-25 11:26] estolfo commented on #677
Hi @brianarpie Thanks for your question. Unfortunately, there's no public API to get the JSON string back from a response without it being converted to a Hash. Your best option might be to make the http request using whatever transport library you're using with the client (Faraday, for example). Does that work for you?

[2019-06-25 22:39] bholzer commented on #358
I am having the same issues. I have a class method that I cannot call from within a nested query:

[code]

`NoMethodError: undefined method 'generate_query_for_field' for #<Elasticsearch::DSL::Search::Query:0x00007fd8e1dbc7b8>`

[2019-06-26 13:00] estolfo commented on #660
https://github.com/elastic/elasticsearch-ruby/pull/679

[2019-06-26 16:42] angelcabo commented on #660
Sorry for the late response @estolfo. I had been hoping to be able to start a PR eventually but I was having trouble finding the time. Thanks for doing the work.

[2019-06-27 10:06] estolfo commented on #660
@angelcabo, no worries at all. Do you mind trying out the PR and letting me know if you have any suggestions or change requests?

[2019-06-27 17:00] angelcabo commented on #660
Just tested your fork with my setup and it works great for me.

[2019-06-28 10:17] estolfo commented on #660
Great, thanks for testing it!

[2019-06-28 11:30] estolfo commented on #660
I've merged in this feature to master and it will be in the next version of the DSL gem.

[2019-06-28 11:30] #660 closed

[2019-06-28 15:08] estolfo commented on #358
Hi @samstickland
I've opened a pull request that provides partial functionality of what you're looking to do. It's quite tricky to support defining subqueries in methods because the scope in which those subqueries must be called changes when the method is executed.
Here is the pull request, if you'd like to see it: https://github.com/elastic/elasticsearch-ruby/pull/681

It allows calling methods t

[2019-06-28 19:34] samstickland commented on #358
@estolfo Thanks! This looks exactly like what I need 👍

[2019-07-01 10:30] estolfo commented on #358
@samstickland Great! I think it's the best we can do in terms of supporting defining subqueries in methods. I'll document it in our README in case other people might find this functionality useful.

[2019-07-02 05:10] estolfo commented on #677
Closing this because of no response.

[2019-07-02 05:10] #677 closed

[2019-07-04 14:45] estolfo commented on #485
Closed by https://github.com/elastic/elasticsearch-ruby/pull/682

[2019-07-04 14:45] #485 closed

[2019-07-09 13:38] estolfo commented on #639
closed by https://github.com/elastic/elasticsearch-ruby/pull/685

[2019-07-09 13:38] #639 closed

[2019-07-09 18:39] softr8 opened #686 "If no port is specified, it defaults the connection to use 9200"
if a ELASTICSEARCH_URL does not have a port specified, the connection string is created with a default port 9200, it looks like the change that is affecting this is this commit: https://github.com/elastic/elasticsearch-ruby/commit/c3ec800ce50ed8c0619383a53822e04b6e665035

Example, if the connection string is:` ENV['ELASTICSEARCH_URL'] = 'https://user:password@host.com'`

it tries to connect using

[2019-07-10 10:29] estolfo commented on #686
@softr If a port is not provided in the url, then the default port `9200` is used. If you need to use a different port, it should be specified in the url.
That said, are you having an issue with this?

[2019-07-10 18:27] softr8 commented on #686
Before version 7, a connection string provided by cloud services was working fine, after upgrading, I have to specify port 443 to make it work

before 7 this used to work:
`https://user:password@pine-123123.us-east-1.bonsaisearch.net`
Now, I have to specify the port otherwise it uses 9200 causing ssl errors:
`https://user:password@pine-123123.us-east-1.bonsaisearch.net:443`

[2019-07-10 18:37] danielSbastos opened #687 "No support to clear a scroll"
Hey,

I noticed that there is no support to clear a scroll, as documented [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-scroll.html#_clear_scroll_api)

Not clearing the scroll is against ES recommendations

Therefore, I think that implementing this functionality would be nice.

(I'd be interested in developing this)

[2019-07-10 18:44] danielSbastos commented on #687
Nevermind my issue, I just found it. It is in a different file. Sorry for the inconvenience,

[2019-07-10 18:44] #687 closed

[2019-07-15 11:06] estolfo commented on #434
Closing this as it is out of date. Please reopen if you'd like to continue talking about extending the dsl library.

[2019-07-15 11:06] #434 closed

[2019-07-15 11:10] estolfo commented on #362
This pull request addresses some of the above issues, in particular those relating to calling methods outside of the block scope: https://github.com/elastic/elasticsearch-ruby/pull/681

[2019-07-15 11:11] estolfo commented on #392
Closing as this is not relevant to the current code.

[2019-07-15 11:11] #392 closed

[2019-07-15 12:54] estolfo commented on #177
Coming back to this...
I still don't get an endless loop. One thing I noticed from one of your [previous posts](https://github.com/elastic/elasticsearch-ruby/issues/177#issuecomment-149700661) is that you have `randomize_hosts = true` in the client configuration. That's not the case in the `es-bug.rb` so I was wondering if there is a reason for that discrepancy?
Additionally, I noticed in your pre

[2019-07-15 13:36] estolfo commented on #686
@softr8 Thanks for the clarification. I will have an update soon - I might change the client to default to `443` for `https`.

[2019-07-16 12:18] samstickland commented on #358
@estolfo I just tried this out and it worked great! Thanks for your help!

[2019-07-17 10:17] shaicoleman commented on #177
@estolfo ,
* The docker example is up-to-date and has everything to reproduce the issue, there's no need to dig into historical comments from a couple of years ago.
* You should focus on the underlying issues, and not the sympoms.
* It should not be recursive, if the stack trace shows recursion it's a bug.
* It should timeout consistenly within the timeout limit, if it doesn't then it's a bug.
* W

[2019-07-18 10:35] estolfo commented on #177
@shaicoleman I know it’s frustrating to have this issue open for years and to have so much back and forth with no resolution. Thanks a lot for your help previously in providing information and a docker example.

Neither Karel nor I are able to track down the exact cause and I don’t see any other issues open in the repo (or that have been opened+closed in the last year) reporting the same thing. I

[2019-07-18 10:35] #177 closed

[2019-07-19 05:36] vascoosx opened #690 "cloud ID containing name other than 'name' fails"
As described in the title. Workaround is to change the actual name to 'name'. However I am not sure if this is safe.

This line
https://github.com/elastic/elasticsearch-ruby/blob/master/elasticsearch-transport/lib/elasticsearch/transport/client.rb#L164

should be changed to

[code]

[2019-07-19 08:48] estolfo commented on #690
Thanks for opening this issue, @vascoosx
I've opened [this pull request](https://github.com/elastic/elasticsearch-ruby/pull/691) to fix it. Let me know if you have a chance to test it.

[2019-07-19 09:48] vascoosx commented on #690
Thank you very much. It works!

[2019-07-19 09:49] estolfo commented on #690
Thank you for testing it. I will release a patch version with this fix early next week.

[2019-07-25 15:19] estolfo commented on #690
[elasticsearch gem version 7.2.1](https://github.com/elastic/elasticsearch-ruby/releases/tag/v7.2.1) is released containing this fix.

[2019-07-25 15:19] #690 closed

[2019-07-26 21:50] eherot commented on #177
I just wanted to report that I am having this same issue. I encountered it using the fluentd-elasticsearch plugin (version `3.5.3` so apparently not fixed by uken/fluent-plugin-elasticsearch#519). In our environment it doesn't cause a stack overflow for whatever reason, but it does cause the client to use up whatever memory I give it (2gb per process!) AND to drop log messages (which is pretty irr

[2019-07-29 11:30] estolfo opened #694 "Take into account new changes in Faraday 1.0"
See https://github.com/lostisland/faraday/blob/master/UPGRADING.md#errors

And related pull request: https://github.com/elastic/elasticsearch-ruby/pull/637

[2019-07-29 12:36] estolfo opened #695 "Infinite loop caused in transport gem when `reload_on_failure` is true and more than 1 host is provided."
The `perform_request` method will get itself into an infinite loop when `reload_on_failure` is set to true and more than 1 host is provided.

The issue is in the rescue block:
[code]
On the first try, `tries` is 1 and `connections.all.size` is greater than 1 so the `if` condition is met. `reload_connections!` will then call `sniffer.hosts` that then also calls the `perform_request` method. `tries`

[2019-07-29 12:37] estolfo commented on #177
@eherot Thanks for the report. I was able to reproduce the error with the info you provided and have opened a new ticket to focus on it. We can continue the discussion there.

[2019-07-29 12:48] estolfo commented on #695
@eherot as a workaround for now, try adjusting `sniffer_timeout` so that you get a timeout error before a `SystemStackError`.

[2019-07-30 06:00] gstamp opened #697 "rank_eval call not honouring index parameter"
When calling the `rank_eval` api it always seems to search across all indexes rather than the specified index. Looking at the code I can see that the `index` argument is never actually referenced which seems different to the other endpoints where the `index` argument is used to build up the path..

Turning on tracing also shows no affect on the path when the `index` argument is set.

[2019-07-30 10:31] estolfo commented on #697
@gstamp Thanks for reporting this. I've opened a [pull request](https://github.com/elastic/elasticsearch-ruby/pull/698) to fix it. Please let me know if you have a chance to try it in your testing environment.

[2019-07-31 22:53] eherot commented on #695
Thanks for the workaround! I think I might have a better solution for our particular setup...

It seems that if the client is connected to Elasticsearch through an ELB, `connections.all` might be (eventually, see below) taking on the host list as reported back from the ES `/_nodes/http` endpoint.

What makes this extra fun/annoying is that it doesn't happen until `DEFAULT_RELOAD_AFTER` is exceeded

[2019-08-01 14:23] estolfo commented on #695
@eherot That makes sense as a resolution for your setup. Is the `DEFAULT_RELOAD_AFTER` setting in the `fluent-plugin-elasticsearch` gem?

[2019-08-01 14:36] eherot commented on #695
Yes, thankfully both [Reload Connections](https://github.com/uken/fluent-plugin-elasticsearch#reload_connections) (the boolean) and [Reload After](https://github.com/uken/fluent-plugin-elasticsearch#reload-after) are configurable in the plugin. Amusingly the documentation for `reload_connections` specifically says, "This can be an issue if your Elasticsearch cluster is behind a Reverse Proxy, as F

[2019-08-01 14:58] estolfo commented on #695
Thanks for clarifying. I hope others will see this thread and benefit from the info!

[2019-08-05 14:57] estolfo commented on #695
Resolved in master with this commit: https://github.com/elastic/elasticsearch-ruby/pull/696

[2019-08-09 14:52] Startouf commented on #165
Hello, just to let you know that we ran into the same problem.

We are currently using `elasticsearch-rails-5.0.1` (elasticsearch (5.0.4)) and we recently added a new gem which had typhoeus as a requirement. This caused our server to crash on start because of elasticsearch and we had to manually require the typhoeus/faraday adapter in our elasticsearch initializer.

We shared the same frustration

[2019-08-12 07:57] Fleick opened #707 "WindowsSubsystemLinux: No such file or directory"
Hello, everybody,
I am currently trying to implement our RSpec Testing with this GEM accordingly. Unfortunately I get the following error message when starting the cluster:

Errno::ENOENT:
        No such file or directory - Cannot find Elasticsearch launch script from [elasticsearch] -- did you pass a correct path?

A little research in the comments of several beginner guides showed that several

[2019-08-13 12:38] estolfo commented on #697
Closed by #698

[2019-08-13 12:38] #697 closed

[2019-08-14 11:22] #694 closed

[2019-08-14 16:02] bmaeser opened #710 "NoMethodError: undefined method `info?'"
i get a strange error using 'elasticsearch/extensions/backup'

ruby 2.6.3p62 (2019-04-16 revision 67580) [x86_64-linux]
backup-gem-version 5.0.0.beta.2

stacktrace:
[code]

any ideas? thx!

[2019-08-14 16:20] mattruzicka opened #711 "Stored Scripts not working for version 7.3.0"
I'm running version 7.3.0 of Elasticsearch and the elasticsearch-api

I'm trying to use the put_script method defined here:
https://github.com/elastic/elasticsearch-ruby/blob/master/elasticsearch-api/lib/elasticsearch/api/actions/put_script.rb

I tried the documented example as well as "painless" lang examples from the elasticsearch documents and get the same error every time. For example, all of

[2019-08-14 22:20] maxfelsher opened #712 "Special characters in password are double-encoded when client initialized with host as a string"
Steps to reproduce:
* Have a password that includes a special character such as `@`. For example, `p@assword`.
* Incorporate the password into a URL string to be passed to the client. Since "@" is a delimiter in URLs, it has to be percent-encoded, and you end up with a URL like `http://user:p%40ssword@127.0.0.1:9200/`.
* Initialize a client and try to search with it: `Elasticsearch::Client.new(url

[2019-08-15 12:21] estolfo commented on #710
@bmaeser What is the `Backup::Logger` object? Did you define it yourself? The logging mechanism of the Ruby client assumes that logger objects implement the basic methods, including `info?`
Can you modify the `Backup::Logger` class to support `info?`?

[2019-08-15 12:37] estolfo commented on #711
@mattruzicka It looks like you'll need to update the request to put the `lang` field in the body and use the `source` keyword. For example:
[code]
Let me know if that works for you.
I'll update the example in the documentation of the method. Thanks for reporting this.

[2019-08-15 12:41] estolfo commented on #712
Thanks for reporting this @maxfelsher
We'll have an update soon.

[2019-08-15 16:17] mattruzicka commented on #711
@estolfo That worked, thanks!

[2019-08-15 16:17] #711 closed

[2019-08-15 20:39] andreasklinger opened #714 "[DSL] handle multiple values (array)"
Is my understanding correct that if i want to do

[code]

I would have to write:

[code]

(notice the multiple must/should blocks)

i didn't receive any error message when putting multiple terms into one must block - it just swallowed the further ones

did i do something wrong? am i misunderstanding something? is there a way to do "array-like" syntax that i am unaware off?

If this is by design -

[2019-08-16 13:40] bmaeser commented on #710
no, i did not define this myself, and i cannot change it. its part of the backup-gem (https://github.com/backup/backup), the 'backup' extension of elasticsearch-ruby was built to work with it.

[2019-08-19 12:53] estolfo commented on #710
One option is to open an issue with the `backup` gem repo and asking them to include the predicate methods `warn?`, `debug?`, `info?` on their `Logger` object. Then it will provide the same [methods](https://ruby-doc.org/stdlib-2.6.2/libdoc/logger/rdoc/Logger.html#method-i-info-3F) as the core Ruby Logger. Otherwise, I can change the code to check the level explicitly instead of calling this metho

[2019-08-20 08:25] spinute opened #715 "track-total-hits for elasticsearch-dsl"
Elasticsearch::DSL::Search seems not to have track_total_hits:

* I can find "track_total_hits" only under elasticsearch-api by searching this repository
* I do not see the name in https://github.com/elastic/elasticsearch-ruby/blob/7.2.0/elasticsearch-dsl/lib/elasticsearch/dsl/search.rb

Is there any plan to implement it? Or, Do I have an alternative way to set track_total_hits?

Reference: https:

[2019-08-21 17:49] tonybruess commented on #714
➕ I just ran into this same issue

[2019-08-23 09:33] defgenx commented on #714
@andreasklinger It is by design (there is an example in the tests with the match query)

[code]
You can use a `terms` query to for your 'color' field and delete the nested bool query (not tested but I think it should work).

[2019-08-25 21:22] andreasklinger commented on #714
@defgenx thanks for getting back!

Ok got it!

The reason why this was confusing for me:

I would have expected
[code]
to create
[code]

But based on my experience so far (might be wrong) it just creates the first "term" and drops the second one silently without any error
[code]
No error message - just different json output than i'd have expected from the ruby dsl  (assuming it's meant to mirror t

[2019-09-09 02:36] quinn opened #721 "How to use DSL"
all of the examples show mixing it into the global scope, which in practice no would would ever do. How do I use the DSL with rails / models, which is probably the typical use-case? all of the rails examples show passing a hash into `SomeModel.search({})`. In all my searching, I failed to find a concise example that used both elasticsearch-model/rails and elasticsearch-dsl.

[2019-09-17 14:41] bmaeser commented on #710
@estolfo sorry for the late reply, i was on vacation.

i'd really appreciate if you could check the loglevels explicitly in the code, for two reasons:

- the `backup.gem` is in kind of a "maintenance-only" state and is not under very active developement
- as this is an extension, imho its smart to adapt to the "main" project, rather than the backup gem needs to adapt to this extension. (even if it

[2019-09-27 22:24] rjminchuk opened #722 "Please pin faraday to 0.15 in elasticsearch-transport gemspec or implement updated interface"
`
Chef Client failed. 25 resources updated in 01 minutes 42 seconds
[2019-09-27T17:03:44-05:00] INFO: Sending resource update report (run-id: ****-4573-a180-16f307a07641)
[2019-09-27T17:03:44-05:00] FATAL: Stacktrace dumped to c:/chef/cache/chef-stacktrace.out
[2019-09-27T17:03:44-05:00] FATAL: Please provide the contents of the stacktrace.out file if you file a bug report
[2019-09-27T17:03:44-05:

[2019-09-28 19:21] ankane opened #723 "Error with Faraday 0.16"
Hi, the latest version of Faraday breaks some API calls. For instance, this code:

[code]

throws `can't modify frozen String (FrozenError)`.

[2019-09-30 17:28] rjminchuk commented on #723
similar issue here: https://github.com/elastic/elasticsearch-ruby/issues/722

[2019-10-01 07:29] schorsch commented on #723
i have the same problem with the exist? call, which when an object does not exists bubbles into
elasticsearch-transport-7.3.0/lib/elasticsearch/transport/transport/response.rb:19:in `force_encoding'
which in turn wants to force the response string into UTF-8

[2019-10-01 14:54] patricklewis commented on #723
I was encountering a similar `FrozenError` in an ActiveRecord model callback:

`__elasticsearch__.client.exists?(index: self.class.index_name, id: self.id)`

Downgrading faraday from 0.16.2 to 0.15.4 eliminated the errors, thanks for the tip!

[2019-10-01 15:42] jekapulpit commented on #723
`gem 'faraday', '~> 0.15.4'`
add this line into your `Gemfile`
it worked for me

[2019-10-01 20:46] KyleCRat opened #726 "Can't modify frozen string for `force_encoding` in response.rb:19 for rails 6.0.0 and ruby 2.6.3"
While upgrading our application to the latest rails and ruby versions I have run into this error whenever any Indexing calls are made

[code]

I was able to fix this issue by overwriting the `force_encoding` method within `elasticsearch/transport/transport/response.rb` line 19 from:
[code]
to
[code]

This is from an application using:

Ruby 2.6.3

Gems
- rails (6.0.0)
- chewy (5.1.0)
  - activesup

[2019-10-02 07:51] rbq commented on #726
@KyleCRat Thanks for the workaround!

[2019-10-02 15:59] bmaeser commented on #710
are there any updates on this? sorry to ask, but if this issue needs much more time to resolve (which of course is totally ok) i need to know.

i ask because if i cannot use backup.gem for es-backups i need to start thinking about alternative solutions. i cannot have a production cluster running without proper offside backups.

thanks in advance

[2019-10-02 22:10] gsar commented on #726
fwiw, that workaround is quite expensive, i suggest doing this instead: https://github.com/elastic/elasticsearch-ruby/pull/725#issuecomment-537702757

[2019-10-03 00:37] alexanderreiff commented on #660
@estolfo any idea when the next DSL gem release might be cut? I'd love to start using this new functionality. Thanks 😄

[2019-10-03 03:08] like-inspur opened #727 "Remove executables: elastic_ruby_console need handle operation"
When I build a fluentd image, I need to remove gem elasticserach which has existed. But I add gem uninstall --force elasticsearch to Dockerfile, when I execute docker build, it will stop at Remove executables: elastic_ruby_console，and wait for handle input. But this handle input can't be accepted by docker build, so I want to know how to execute gem uninstall automatically?

Step 6/11 : RUN gem un

[2019-10-03 15:33] KyleCRat commented on #726
@gsar Thank you, Can confirm that using

```gem 'faraday', git: 'https://github.com/lostisland/faraday', branch: '0.16.x'```

in our application has resolved the problem as well.

[2019-10-03 18:21] caomania commented on #726
As @KyleCRat points out, this is resolved in the `0.16.x` branch of faraday https://github.com/lostisland/faraday/pull/1039

[2019-10-04 14:50] rjminchuk commented on #722
It looks like the version of the elasticsearch gem I am on hasn't been touched in a long time. To get around my issue, I loaded a lower version of faraday before requiring elasticsearch in my libraries. this helped me solve the issue without having to manually remove newer versions of faraday from any of my environments.

[2019-10-04 14:50] #722 closed

[2019-10-07 03:55] ankane commented on #723
Faraday just released 0.17.0 which fixes the issue.

[2019-10-07 03:55] #723 closed

[2019-10-07 11:51] sebastian-stanciu commented on #727
Hi @like-inspur

Can you try
[code]

[2019-10-08 08:34] like-inspur commented on #727
ok, it works, thank you! @sebastian-stanciu

[2019-10-08 08:37] #727 closed

[2019-10-11 09:04] cosmo0920 opened #728 "[XPACK] Support Index Lifecycle Management (ILM) API"
Currently, ILM API is not supported in elasticsearch-ruby yet.
fluent-plugin-elasticsearch depends and uses elasticsearhc-ruby feature.
So, it needs to provide ILM API in elasticsearch-xpack gem.

[2019-10-15 17:14] jpaas commented on #726
So it looks like faraday released `0.16.x` and deleted that branch. BUT, then they released `0.17.x` to rollback to `0.15` which seems to leave us without a solution.

[2019-10-15 17:33] andreasklinger commented on #715
I ran into the same problem

Is there a plan to implement it?

[2019-10-15 17:37] andreasklinger commented on #715
In case someone lands into this issue until the PR is merged

a workaround is to add track_total_hits as options

`search(track_total_hits: true) { your normal query }`

[2019-10-16 00:18] gsar commented on #726
@jpaas if you are not relying on any `0.16.x` features (unlikely since it wasn't out there for long) you can just use `0.17` or stay with `0.15.4`. just add this to your `Gemfile`:

[code]

[2019-10-16 01:44] jpaas commented on #726
Thanks @gsar , `0.17` seems to be working ok

[2019-10-16 22:33] msxavi commented on #726
0.17 works alright. Thanks guys.

[2019-10-28 17:17] sonureddoorz opened #732 "Faraday::ConnectionFailed"
[code]
gem version ==> **gem 'elasticsearch-rails', '~> 6.0'**
From last week below error frequently occurs in my app , I also contacted with elasticsearch support team but not getting any reply. Sometime it connects but sometimes it fails and give connection failed. :( :(

**Faraday::ConnectionFailed: execution expired**

![Screenshot 2019-10-28 at 10 46 55 PM](https://user-images.githubuserconte

[2019-11-01 01:59] baby5 commented on #619
@patilarpith she call index func with refresh explicitly, so the doc should be searchable immediately

[2019-11-01 09:01] #728 closed

[2019-11-05 10:48] #715 closed

[2019-11-19 11:51] chrisdebruin commented on #732
which version of ES are you using? Had the same issue and downgraded gem to verion 5 since we are using ES 5.6. It solved the problem for me

[2019-11-19 14:02] picandocodigo commented on #732
Hi @sonureddoorz,
What version of the Elastic Stack are you using?
The client follows the stack releases and is backwards compatible to all minor versions of that major version.

@chrisdebruin maybe that's why downgrading the gem version fixed it for you?

[2019-11-20 14:51] #726 closed

[2019-11-21 06:28] sonureddoorz commented on #732
currently I am using ES 6.8 Version.

[2019-11-21 17:01] picandocodigo commented on #732
@sonureddoorz My first suggestion is to update `elasticsearch-rails` to the latest version: `6.1.0`.

Since the error is around failed connections, there could be network issues between your Ruby app and the Elastic Stack. Can you confirm this is not the case?

Given the peak in errors on October 28, did your app experience an increase in requests on that date? How has the graph changed since then

[2019-11-22 12:49] sonureddoorz commented on #732
@picandocodigo Yes on 28 oct my app experienced an increase in requests and after 3-4 days frequency of this error is gradually decreases means today the frequency is reached to very low 4-5 times in a week. I will think about degrading the elasticsearch version if this frequency will increase in future.
But for now, yesterday I upgraded the version of elasticsearch gem to **gem 'elasticsearch-mod

[2019-11-22 12:49] sonureddoorz commented on #732
Thanks for your support and time. :)

[2019-11-22 13:08] picandocodigo commented on #732
@sonureddoorz no worries! Glad to know the error rate has decreased. I will close this issue and if you have any problems in the future, open a new issue please.

[2019-11-22 13:08] #732 closed

[2019-11-25 07:38] dogweather commented on #686
Why would this be changed?

[2019-12-19 07:58] rafWijesekera opened #744 "How to update all models that use the related data elastic search"
hey so i have a model A that has a column "deleted",  and that column is referenced and used in another model B which is done through index json, now i do get the data but when i update the deleted column and save it, elastic search does update the relevant column but when i get the column data from model B it still has the old data, only if i reindex that model does it update with the right infor

[2019-12-19 17:09] picandocodigo commented on #744
Hi @rafWijesekera,
What versions of Elasticsearch and the client are you using? Some things change between major versions so it'll be really helpful to know this.

I'm not entirely sure I fully understand your question, but let's see if we can figure it out. When you mention "model A" and "model B", are you referring to 2 different indices in your Elasticsearch instance? And both these indices hav

[2019-12-20 00:08] dudleysr opened #746 "Faraday::ConnectionFailed (wrong status line: "K\x00\x00\x00"):"
Having an issue locally where I'm getting the following error when attempting to query the ElasticSearch server:
`Faraday::ConnectionFailed (wrong status line: "K\x00\x00\x00"):`
In my development.searchd.log a corresponding error ends up being
`[Thu Dec 19 16:03:13.737 2019] [-1] WARNING: failed to receive MySQL request body (client=127.0.0.1:55325(23), exp=5522759, error='Connection reset by pee

[2019-12-20 16:05] #746 closed

[2019-12-20 16:05] dudleysr commented on #746
This was due to other config not related to ElasticSearch

[2019-12-23 02:26] ioquatix opened #747 "Using async-http as a transport"
`Async::HTTP` is an asynchronous persistent and scalable HTTP client which works very well within the Falcon server.

I have been reading https://github.com/elastic/elasticsearch-ruby/blob/master/elasticsearch-transport/README.md#transport-implementations but it's not clear how you achieve thread safety.

Do you use one faraday connection instance per client?

Are you aware of the new hooks to man

[2020-01-07 10:13] Linuus opened #748 "Chainable/lazy/composable queries"
Hi!

Is it possible to build up the query in several steps somehow? We are currently trying to move away from Chewy as we want to upgrade Elasticsearch and Chewy doesn't seem to support the newest versions.

What we do today is that we first apply some filtering, then later we add more to the query.

1. In a Pundit PolicyScope, add the basic filters that the user is allowed to fetch.
1. Later, add

[2020-01-10 13:30] picandocodigo commented on #748
Hi @Linuus!
I believe we don't have chainable queries. However, the client has its own DSL. It looks like you could achieve something similar with [accessing methods outside the DSL blocks' scope](https://github.com/elastic/elasticsearch-ruby/tree/master/elasticsearch-dsl#accessing-methods-outside-dsl-blocks-scopes)? So you could write some logic based on the PolicyScope in methods which would fee

[2020-01-13 21:17] tonobo commented on #220
@karmi Could you add a short hint about it. I invested a couple of minutes to identify the cause of missed retries. I did expect the transport to raise on `Faraday::ServerError` but nothing happened.  :joy:

[2020-01-14 07:07] karmi commented on #220
@tonobo, it's been years since I've touched this code — can you please give more hints about the hint? :)

[2020-01-14 07:11] tonobo commented on #220
Oh sorry. :joy:

The `retry_on_status` never gets mentioned in the documentation and how it works in combination with retry_on_failure.

[2020-01-14 07:24] karmi commented on #220
Argh, you're right, there's no `retry_on_status` in the `elasticsearch-transport`'s README, only `retry_on_failure`!

Looks like it's in the Rubydoc at the very least:

https://github.com/elastic/elasticsearch-ruby/blob/f1d77c43f8baa104bd1a55f42bdc14e14d5d6fc7/elasticsearch-transport/lib/elasticsearch/transport/client.rb#L80

@picandocodigo, can you please look into adding it into the README?

[2020-01-14 07:27] tonobo commented on #220
Cool, thanks guys.

[2020-01-16 19:11] taylorthurlow opened #751 "elasticsearch-transport faraday dependency after faraday 1.0 release"
The faraday dependency of `elasticsearch-transport` is restricted to `< 2`, and Faraday 1.x has [breaking changes](https://github.com/lostisland/faraday/blob/master/UPGRADING.md) that seem to be affecting elasticsearch-transport.

[2020-01-18 01:37] taylorthurlow commented on #751
Resolved in #752

[2020-01-18 01:37] #751 closed

[2020-01-20 10:55] picandocodigo commented on #747
Hi @ioquatix,
I'm the new maintainer for this project and I'm currently working on several things. But I have added this query to my list and I'll get back to you as soon as possible.

Thank you,
Cheers!

[2020-01-20 16:26] Judobob opened #754 "Elasticsearch::Transport::Transport::Errors::Forbidden: [403]"
Elasticsearch::Transport::Transport::Errors::Forbidden: [403] {"message":"The request signature we calculated does not match the signature you provided. Check your AWS Secret Access Key and signing method. Consult the service documentation for details."}

I have tried using both elasticsearch-rails and searchkick gems to try and do elasticsearch indexing for our project. We are making creation and

[2020-01-21 17:30] picandocodigo commented on #754
Hi @Judobob,
This sounds like an issue when calculating the signature. The fact that you are able to index data with a small amount from your Ruby code makes me think searchkick and elasticsearch-ruby are probably working fine.

But since it's happening for larger pieces of data, there could be a problem in the signature calculation due to characters which need to be escaped not being escaped or s

[2020-01-22 13:57] Judobob commented on #754
Hi @picandocodigo,
Thanks for your swift reply.. Hopefully we can fix this soon.

[2020-01-27 15:42] Judobob commented on #754
Hi, I did a few things. Uninstalled the faraday gem did a clean force on my bundle then reinstalled it. Seemed to do the trick now we are indexing properly. Thanks for your help.

[2020-01-27 15:42] #754 closed

[2020-01-28 09:59] gaelant commented on #686
@estolfo Just wanted to let you know with a recent upgrade from 6.8 to 7.1 I ran into this issue as well. Debugging it was quite hard because we were experiencing timeouts with no logs as to why. +1 for feature should default to `443` for `https` as you said :)

[2020-01-29 16:30] matheuslc opened #758 "Can I use preference parameter on msearch?"
Hi!

I've looking to use the preference parameter to specify what shard/node my query is best to be executed. Looking inside the msearch definition, I saw that the preference parameter is not allowed, but why? It is using the perform_request method from the client that the search query uses too. Can we add this parameter?

Also, thank you!

[2020-01-29 17:50] matheuslc commented on #758
The ElasticSearch doc says that it is possible https://www.elastic.co/guide/en/elasticsearch/reference/current/search-multi-search.html

[2020-01-29 17:58] matheuslc commented on #758
If you confirm that, I can open a Pull Request.

[2020-01-29 22:25] rdietrick opened #759 "bulk payload problems"
I'm trying to bulk index some data, but ES (5.6) isn't recognizing the bulk payload because (I think) the JSON being sent is escaped.  I've tried sending as a series of objects with data: attributes and as an array of command/object pairs.

This what I'm seeing come across the wire:
`"{\"index\":{\"_index\":\"team-development\",\"_type\":\"user\",\"_id\":\"user-1\"}}\n{\"name\":null,\"login\":\"rd

[2020-01-29 22:38] picandocodigo commented on #758
Hi @matheuslc, the `preference` parameter is an option on the json body payload but not an overall request param. So you can send it as part of the body of the request.

[2020-01-30 14:15] matheuslc commented on #758
@picandocodigo Can you show me an example? I tried to use it on the body and got this error:

[code]

I tried to use out the body level and got an unpermitted param error.

[2020-01-30 19:24] rdietrick commented on #759
I got to the bottom of it.  Per the [elasticsearch-api](https://rubydoc.info/gems/elasticsearch-api) docs, I was doing an additional MutiJson.dump of the request body which was escaping bulk payloads.

I resolved it by conditionally handling bulk payloads in my client class:

[code]

[2020-01-30 19:24] #759 closed

[2020-01-30 23:36] kmacdough opened #761 "DSL blindly constantizes & instantiates a class on method_missing"
Because the DSL simply checks `const_defined?` if any attr_reader variable names happen to line up with **any** defined classes (even custom user classes), the DSL attempts to construct that class. While it might be difficult/ to avoid collisions with builtin filter/query class names, it should be possible to avoid this for unsuspecting classes.

There may be a better solution, but a class method

[2020-02-20 15:02] thisismydesign opened #764 "Nested bool filters not supported?"
Example input and output below. Am I missing something here?

[code]

[code]

[2020-02-27 12:55] picandocodigo commented on #758
@matheuslc Which versions of the stack and the client are you using? Can you share the code you're using to get this error please? Thanks!

[2020-02-28 11:10] okulik opened #771 "Version 7.5.0 still has a dependency for older Faraday"
From the latest gem's version, `elasticsearch-transport.gemspec`:

[code]

However, the change `s.add_dependency "faraday", '~>1'` was done a month ago in this commit https://github.com/elastic/elasticsearch-ruby/commit/d3d778aaeda6cd019960e6b245ef7941bbf26885.

[2020-02-28 13:19] lizdeika commented on #771
It was also fixed in master: https://github.com/elastic/elasticsearch-ruby/commit/fd82ac4c5dc0448512e207f2700f235323498b0c

[2020-02-28 13:28] picandocodigo commented on #771
Hi @okulik, thanks for reporting this. Since Faraday had breaking changes in the latest version, we locked the `7.x` branch to the version we were using to be able to release 7.5 without further disruption. But if there's a good case towards 1.0, we could look into upgrading. We try not to introduce breaking changes into minor releases.

@lizdeika Which version of Faraday are you using? It is my u

[2020-03-02 09:00] lizdeika commented on #771
Yes, it's locked now, but it also locks other dependant gems like octokit

[2020-03-02 13:23] HuntsmanX opened #772 "Is there a possibility create search with nested and no nested fields via dsl?"
I tried to combine nested and no nested fields but executing only one context. For example I try to create smth like it
`GET users/_search
{
  "query": {
    "bool": {
      "must": [
        {
          "match": {
            "id": 11111
          }
        },
        {
          "nested": {
            "path": "nested_document",
            "query": {
              "bool": {
                "mus

[2020-03-02 13:46] HuntsmanX commented on #772
As I see we can not put nested block in  bool block

[2020-03-02 21:49] bastos opened #776 "elasticsearch-transport 7.4.0 does not work with faraday_middleware-aws-signers-v4 0.1.9"
I wasn't able to use `elasticsearch-transport` (`7.4.0`) with `faraday_middleware-aws-signers-v4` (`0.1.9`), got a few errors while trying like:

Using the new `faraday_middleware-aws-sigv4` gem worked and is also the [one used in the AWS docs](https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-request-signing.html#es-request-signing-ruby), however `faraday_middleware-aws-s

[2020-03-03 12:41] picandocodigo commented on #776
Hi @bastos, thanks for reporting this. I'll update the README for transport!

[2020-03-06 13:53] #776 closed

[2020-03-09 10:43] edariedl commented on #771
As lizdeika said, it locks dependencies of other gems. We cannot upgrade sentry-raven gem because of the lock on faraday in elasticsearch gems.

Unfortunately major version of elasticsearch gems is locked with elasticsearch version. That would mean that faraday 1.0 will be supported only with release of elasticsearch 8. It is much bigger investment to upgrade whole elasticsearch stack than just th

[2020-03-16 23:37] picandocodigo commented on #771
We're going to look into using Faraday 1.0 with `6.x` and `7.x` without major disruption.
Thank you very much for your input!

[2020-03-25 11:53] picandocodigo commented on #771
I've opened a PR for the Faraday migration, take a look if you're interested and let me know if any feedback/comments please:
https://github.com/elastic/elasticsearch-ruby/pull/808
Thanks!

[2020-04-06 08:34] picandocodigo commented on #771
Version [7.6.0.pre](https://github.com/elastic/elasticsearch-ruby/releases/tag/v7.6.0.pre) was released on Friday and is using Faraday 1.0. So feel free to check it out and let us know if you find any issues. If everything goes well, we'll be releasing 7.6.0 final this week :+1:
Thanks!

[2020-04-07 16:32] picandocodigo commented on #771
Version [7.6.0](https://github.com/elastic/elasticsearch-ruby/releases/tag/v7.6.0) has been released with an update to Faraday 1.0. I'm closing this issue but if you have any further problems, please report it on a new issue. Thanks!

[2020-04-07 16:32] #771 closed

[2020-04-08 11:14] patrykk21 opened #826 "Wrong error name on connection failure ?"
We received errors on Sentry with the following:

[code]

We do not use Faraday internally, however some of our dependencies do:
- sentry-raven
- elasticsearch-transport

Looking into the code where this issue happened it looks like it's connected to querying to Elasticsearch.

Could you look into this issue?

[2020-04-08 11:26] picandocodigo commented on #826
Hi @patrykk21. Which version of the client are you using?

`Faraday::Error::ConnectionFailed` is deprecated in Faraday, and `Faraday::ConnectionFailed` should be used instead. WIth the latest release of the Elasticsearch Ruby client `v7.6.0`, we migrated to Faraday 1.0 as a dependency. You can see more info on the migration on the [release notes](https://github.com/elastic/elasticsearch-ruby/relea

[2020-04-08 13:08] patrykk21 commented on #826
@picandocodigo the error is indeed coming from `elasticsearch-transport` as we don't use faraday internally.

Our current versions are the following:
[code]

I don't understand why you didn't add a version constraint for faraday `< 1` for the versions of your gem that do not support such behaviour?

We will try upgrading the `elasticsearch-transport` and will let you know if this causes any issues

[2020-04-10 12:23] ioquatix commented on #747
Ping.

[2020-04-13 03:43] rajeshkp opened #832 "Queries and Filters links are broken in README.md"
Queries and Filters links are broken in README.md, refer the following snippet

[code]

[2020-04-13 21:05] Startouf commented on #486
Hello, it is really unclear how to make Elasticsearch-ruby work with aws sdk v3 and using this signers-v4 gem with Faraday. I am trying to upgrade my aws sdk v2 to v3, and I'm stuck with

If I try to require the middleware I have this error

Does that mean in addition to including this gem, I also need to add Faraday middleware explicitely to my Gemfile ? How do I configure my ES client in the ini

[2020-04-14 12:56] picandocodigo commented on #832
Thanks for reporting this @rajeshkp!

[2020-04-14 13:33] #832 closed

[2020-04-15 09:32] picandocodigo commented on #826
@patrykk21 Elasticsearch 5 reached its end of life, so version 5 of this gem is not being maintained anymore. We maintain the most recent minor release from the current major release stream and the most recent minor release from the prior major release stream. [Here's more info about end of life dates](https://www.elastic.co/support/eol).

I understand it's not easy to migrate the clients and the

[2020-04-22 15:43] picandocodigo opened #852 "Investigate why analytics/usage.yml is failing"
The test in X-Pack [`analytics/usage.yml`](https://github.com/elastic/elasticsearch/blob/master/x-pack/plugin/src/test/resources/rest-api-spec/test/analytics/usage.yml) is failing in the YAML runner.

This should work on `8.0.0-SNAPSHOT`, but it's still failing in the `master` run. The values that it's supposed to be setting to `1` are returning `0` in the response. Will skip for now but need to g

[2020-04-23 09:57] picandocodigo opened #853 "X-Pack Skips: ml/jobs_crud.yml"
A test in `ml/jobs_crud.yml`, is failing on Jenkins but the responses seem to match. Can't reproduce locally. The test: `Test put job with model_memory_limit as string and lazy open`.

[2020-05-14 10:45] ayqazi commented on #515
I am in a similar situation. We need to upgrade from1.x to 7.x (yes we procrastinated...).

I do not want to just upgrade ES and then deploy a new version of our code that uses it as that method is quite dangerous.

I want to make our app write to both 1.x AND 7.x at the same time, then compare the results to make sure everything is OK before I switch over to the new ES version and kill the old on

[2020-05-19 22:21] jackellenberger opened #893 "Client does not retry alternative hosts when retry_on_status is triggered"
### Context

When multiple hosts are provided to a client and a `TransportError` occurs, e.g. `Faraday::ConnectionFailed`, the request is passed on to be tried on the next available host. When all hosts have been tried, but there are more retry attempts remaining, [all hosts are revived](https://github.com/elastic/elasticsearch-ruby/blob/v5.0.4/elasticsearch-transport/lib/elasticsearch/transport/t

[2020-05-23 02:32] vovimayhem commented on #686
Jeez, this was annoying - I had all day trying to debug this.

[2020-05-29 08:33] #772 closed

[2020-06-04 16:03] picandocodigo opened #905 "Test Runner: no_xpack"
When a test that implement `no_xpack` is found, the runner should check if it's running an X-Pack or an OSS distribution of Elasticsearch. If it's running x-pack, it should skip the test.

## `no_xpack`
Requires the test to run against an oss distribution of Elasticsearch

[2020-06-04 16:31] picandocodigo opened #906 "Test Runner: warnings"
Implement checking for warnings.

## `warnings`
If the arguments to `do` include `warnings` then we are expecting a Warning header to come back from the request. If the arguments don’t include a warnings argument then we don’t expect the response to include a Warning header. The warnings must match exactly. Using it looks like this:

[2020-06-04 17:15] picandocodigo opened #907 "Test Runner: stash_in_path"
## `stash_in_path`

Allows a stashed value to be referenced in path lookups as a single token. E.g:
`path.$stash.value`

[2020-06-05 09:22] picandocodigo opened #909 "Test Runner: contains"
Implement `contains` on the test runner.

## `contains`

Asserts an array of object contains an object with a property set to a certain value. e.g:
[code]
Asserts the plugins array contains an object with a name property with the value painless-whitelist

Example test: [rest-api-spec/src/main/resources/rest-api-spec/test/cluster.voting_config_exclusions/10_basic.yml](https://github.com/elastic/ela

[2020-06-06 06:41] alechoey opened #911 "Elasticsearch::DSL filters aggregation does not support the other_bucket or other_bucket_key options"
Documented [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-filters-aggregation.html#other-bucket)

[code]

[2020-06-08 21:52] alechoey commented on #911
Nevermind, I'm wrong

[2020-06-08 22:09] alechoey commented on #911
Sorry for the thrashing on the issue. My code to replicate the issue was incorrect. While I did not experience this issue on the `instance_eval` implementation, it is present on the implementation where `Elasticsearch::DSL::Search::Search` yields itself to the block when arity >= 1: https://github.com/elastic/elasticsearch-ruby/blob/master/elasticsearch-dsl/lib/elasticsearch/dsl/search.rb#L62

Her

[2020-06-09 19:38] SeanRoy commented on #294
I just saw this today in our production environment.  US-EAST-1

[2020-06-10 23:54] gregblass commented on #294
Yeah this is the conclusion I came to as well.

Not to mention the fact that amazon elasticsearch support is horrible.

There’s no reason to use it whatsoever.

On Wed, Jun 10, 2020 at 6:34 PM Fernando Briano <notifications@github.com>
wrote:

[2020-06-18 00:08] alechoey opened #936 "[elasticsearch-dsl] BaseAggregationComponent#to_hash pollutes @hash"
[code]

Also happens with `#to_hash`.

Running on elasticsearch-dsl 0.1.9

[2020-06-25 16:51] josephtyler commented on #462
I might be missing something here, but I have one container for my application and one for elasticsearch. The fact that you have to specify a command makes it seem like elasticsearch MUST be running on the same container as the application. Is that right?

[2020-06-26 17:13] #826 closed

[2020-07-08 08:58] cosmo0920 opened #956 "[elasticsearch-transport] Is it possible to implement failover mechanism with Connection Selector API?"
Some Fluentd Elasticsearch plugin users are requesting and waiting for fail-over mechanism per Elasticsearch hosts.
e.g.) https://github.com/uken/fluent-plugin-elasticsearch/issues/576
Current  Connection Selector API should be requested to implement `#select` method:
https://github.com/elastic/elasticsearch-ruby/tree/master/elasticsearch-transport#connection-selector

But I'm not sure where we ca

[2020-07-10 02:30] #956 closed

[2020-07-14 12:32] picandocodigo opened #962 "OSS Test skips: Resolve index with hidden and closed indices"
Fix this test
[code]
PR: #960

[2020-07-23 14:45] papanikge opened #972 "elasticsearch-transport: connection: host option cannot work with strings as keys anymore"
The introducion of `Redacter` [here](https://github.com/elastic/elasticsearch-ruby/blob/ac1f5f5ae980d08af7ea3e30453abec90bfba364/elasticsearch-transport/lib/elasticsearch/transport/transport/connections/connection.rb#L43) the arguments have become more strict versus the old [v5.0.5](https://github.com/elastic/elasticsearch-ruby/blob/5.x/elasticsearch-transport/lib/elasticsearch/transport/transport

[2020-07-25 02:56] thiensubs opened #973 "It should to support for http-rb."
I saw a new ruby http request at: https://github.com/httprb/http.
It's so very good with many advanced (see details at: https://janko.io/httprb-is-great/).
I think elasticsearch-transport should support adapter for this libarry.

Regards,

[2020-07-28 11:03] picandocodigo commented on #973
Hi @thiensubs,
I see httprb has [a Faraday Adapter](https://github.com/lostisland/faraday-http). So in theory you should be able to make it work with the Elasticsearch client. Check out [the transport README section about implementations](https://github.com/elastic/elasticsearch-ruby/tree/master/elasticsearch-transport#transport-implementations). I added this to my backlog to check it out in the f

[2020-08-13 08:28] bitterloa commented on #278
hi @karmi I'm having the same error occur with latest gem versions, but only when using the `search()` method attached to `Elasticsearch::Model.search` for searching multiple models -- Everything works perfectly fine when searching a single model like `Article.search`. I know this is an old issue that was resolved but if you have any advice on how I can search multiple models would be greatly appr

[2020-08-18 06:59] karmi commented on #278
@picandocodigo , cann you have a look?

[2020-08-18 08:08] picandocodigo commented on #278
@bitterloa @karmi I'll look into it :+1:

[2020-08-19 00:29] bitterloa commented on #278
Thanks guys. For what it is worth, I ended up rolling out my own solution and just connecting to Elasticsearch directly -- here is part of my `SearchService` class -- I can do multi-model searches now with `SearchService.search_all('foobar')`

I took inspiration from your `::Results::Result` classes but using a quick and simpler solution so I can get things to work for us in production.

[code]

[2020-08-19 13:32] dbackeus opened #1004 "Setting Java heap size via TEST_CLUSTER_PARAMS or es_params doesn't work"
If I try to provide `-Xms500m` etc to set the Java heap size via `TEST_CLUSTER_PARAMS` as [mentioned in the README](https://github.com/elastic/elasticsearch-ruby/tree/ee83caf8ea090775b19190341eeee2cd627fdcd0#development) or via the `es_params` argument when trying to start my test cluster I get `ERROR: X is not a recognized option`.

Also the test cluster runner doesn't appear to notice that the `

[2020-08-20 18:56] myronmarston opened #1005 "Regression in 7.9: AWS signing appears to be broken"
We are using the elasticsearch gem from an AWS lambda that talks to an [AWS elasticsearch cluster](https://aws.amazon.com/elasticsearch-service/).  The security of our AWS elasticsearch cluster requires all requests to be signed with AWS sig4 using the AWS credentials provided by lambda execution role (which has been granted access the the elasticsearch cluster in its IAM policy).

In our AWS lamb

[2020-08-20 20:53] samstickland opened #1006 "distance_feature support?"
Are there any plans to add this feature?

I haven't contributed to this gem before, but if the feeling is that adding support isn't too complex I could give it a go.

Documentation is here: https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-distance-feature-query.html

[2020-08-20 21:19] picandocodigo commented on #1005
Hi @myronmarston,
Looking into this, the only changes from the transport layer from `7.8.1` to `7.9` are the documented in the Changelog (https://github.com/elastic/elasticsearch-ruby/commit/06ffd03bf51f5f33a0d87e9914e66b39357d40af) and some styling changes which don't affect functionality.

What did change though is `msearch` will use `POST` as the request method since it has a body. It used to u

[2020-08-21 01:52] myronmarston commented on #1005
Thanks for the quick response @picandocodigo!  You're absolutely right -- we have allowed our IAM user to perform the `es:ESHttpGet` and `es:ESHttpHead` actions but had intentionally not allowed it to perform the `es:ESHttpPost`, `es:ESHttpPut` and `es:ESHttpDelete` actions.  The idea is that we have some lambdas that talk should only be allowed to read data from Elasticsearch (and should never be

[2020-08-24 19:20] dbackeus commented on #1004
Turned out that using `ES_JAVA_OPTS` to set the heap was as easy as adding `ES_JAVA_OPTS=-Xms128m -Xmx128m` to our `.env.test` file (we use `dotenv-rails` to manage environment variables in our rails app).

Presumably the example in the README relies on a legacy version of elasticsearch (2.0.0 by judging by the executable filename) which did support these options? Would probably be a good idea to

[2020-08-25 09:12] picandocodigo commented on #1004
@dbackeus thanks for reporting this and posting the solution. I'll check it out and update the documentation accordingly. Thanks! :smile:

[2020-08-25 11:05] svobom57 opened #1013 "Misleading documentation"
### The issue
There is this section of the documentation mentioning how to set up a custom client:
https://github.com/elastic/elasticsearch-ruby/tree/master/elasticsearch-api#usage-with-a-custom-client

There is, however, one tiny detail which is very well hidden. The documentation mentions that the client must implement a method: `perform_request(method, path, params, body, headers)`. Notice the

[2020-08-25 12:24] picandocodigo commented on #1013
Hi @svobom57, thanks for reporting this and sorry about that! 😅 This part of the docs hasn't been updated in a while. Would you like to open a Pull Request with your changes? Otherwise I'll fix it to make sure this doesn't happen again. Thanks!

[2020-08-25 12:40] svobom57 commented on #1013
I'll have a crack at it, thanks! 👍

You don't see any problems with implementing the `url` method the way we've done above? I wouldn't want to introduce issues for anyone else copy-pasting this snippet in the future.

[2020-08-26 00:48] kapso opened #1018 "Support for calendar_interval"
`interval` on `date_histogram` is being deprecated

[code]

[2020-08-26 09:23] picandocodigo commented on #1006
Hi @samstickland, I haven't had much time to add new features to `elasticsearch-dsl` since other things are a priority at the moment. But if you want to give it a go and open a Pull Request I'll review it as soon as I can.

Thanks!

[2020-08-26 13:22] sbocinec commented on #712
I got hit by the same issue. After enabling [Finge-grained Access control](https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/fgac.html#fgac-walkthrough-basic) for an AWS ES domain and creating a master user with password containing special characters (`[!@#$%^&*()]`) I was getting `Elasticsearch::Transport::Transport::Errors::Unauthorized: [401] Unauthorized` error.

Only wor

[2020-08-26 21:10] #1013 closed

[2020-08-27 15:59] picandocodigo commented on #1004
@dbackeus This was updated in https://github.com/elastic/elasticsearch-ruby/commit/33d189575ed787d6f7e82279408a5bb4006fe970. Thanks again for reporting this! I also updated other minor details on the README and tasks. I'll close the issue now, but don't hesitate to open a new issue if you encounter any similar problems. Cheers!

[2020-08-27 15:59] #1004 closed

[2020-09-03 14:14] dbackeus opened #1027 "Why Faraday exception instead of Elasticsearch::Transport::Transport::Error?"
From the documentation on exceptions at https://github.com/elastic/elasticsearch-ruby/tree/master/elasticsearch-transport#exception-handling:

However if the ElasticSearch cluster is not up and running I get `Faraday::ConnectionFailed` on attempting any query. I've noted some other issues where people have mentioned this error popping up as well.  I'm using standard `ElasticSearch::Client.new` wit

[2020-09-07 07:43] picandocodigo commented on #1027
Hi @dbackeus thanks for reporting this. I'll look into!

[2020-09-07 09:57] shubhamjaincav opened #1028 "How to get or recieve response header at ruby client code?"
I have added key and value in response header in elasticsearch, now i have to recieve response header in ruby client so how can i get it.

i am getting default in code like : {"content-type"=>"application/json; charset=UTF-8", "transfer-encoding"=>"chunked"}

in this hash i am not getting my header which has added.

any suggestion.

[2020-09-07 10:20] shubhamjaincav commented on #1028
i need to fetch response header at making elasticsearch connection.

http://localhost:9200

using adapter : faraday 0.17.0

logstash : 7.4

[2020-09-08 06:23] shubhamjaincav commented on #1028
Hi picandocodigo,

i am sending header in request using this link : https://rubydoc.info/gems/elasticsearch-transport#custom-http-headers

**client = Elasticsearch::Client.new(
  transport_options: {
    headers:
      {user_agent: "My App"}
  }
)**

i used puts method for print response header like as puts "#{response.headers}" in lib/elasticsearch/transport/transport/http/faraday/faraday.rb file

[2020-09-08 11:38] shubhamjaincav commented on #1028
How can i print header at making connection?

[2020-09-09 05:35] shubhamjaincav commented on #1028
How can i see response header for this

## client = Elasticsearch::Client.new(
##  transport_options: {
 ## headers:
 ##     {user_agent: "My App"}
 ## }
## )

[2020-09-09 16:42] picandocodigo commented on #1028
@shubhamjaincav I'm not sure I understand the question correctly.

This code works:
[code]
Elasticsearch will receive the user agent header in the request the client makes. The header you see from the response is what Elasticsearch is returning to your request. Are you expecting a specific header from Elasticsearch on the response?

[2020-09-10 07:59] shubhamjaincav commented on #1028
where should i see repsonse header which is returning from Elasticsearch?

[2020-09-10 08:57] picandocodigo commented on #1028
@shubhamjaincav To see the response header, follow the instructions I wrote in my first answer:

`Elasticsearch::Transport::Transport::Response` is the `Response` object that you mentioned and is being initialized in the http libraries, so `#{response.headers}` is right, that'll give you the response headers.

[2020-09-10 08:58] paprikati opened #1029 "Faraday exception has been renamed, so we get an uninitialised constant error"
In `faraday.rb` line 51, there's this method:
[code]

Unfortunately, `Faraday` changed their error namespacing so from v1.0, `Faraday::Error::ConnectionFailed` no longer exists, and is instead `Faraday::ConnectionFailed` (they back and forthed on this, but v1.0 definitely has this behaviour - commit [here](https://github.com/lostisland/faraday/commit/793e6ba9c94ad06fd458b3a2c10bce77abe6917e#diff-1

[2020-09-10 10:13] picandocodigo commented on #1029
Hi @paprikati,

What version of the gem are you using? We migrated to Faraday 1.0 in [`6.8.2`](https://github.com/elastic/elasticsearch-ruby/releases/tag/v6.8.2) for the `6.x` branch and [`7.6.0`](https://github.com/elastic/elasticsearch-ruby/releases/tag/v7.6.0) in the `7.x` branch. So the `Faraday::Error` namespace shouldn't be there anymore.

[2020-09-10 10:19] paprikati commented on #1029
ahh! gotcha. We're on `7.3` so that must be the issue. Let me take a look, we presumably have somthing else blocking the upgrade.

[2020-09-10 10:19] #1029 closed

[2020-09-16 04:51] bitfidget commented on #278
Thanks so much @bitterloa your post made my day.
I took on a legacy code base last week and spent almost two days trying to track down a solution to the same issue, and your post helped me identify it as being specific to the `Elasticsearch::Model.search` method.
All other Elastic search queries for single models in the same app work perfectly, it was just those that query multiple models that wer

[2020-09-17 18:44] kushal-ladha opened #1032 "HTTPClient::KeepAliveDisconnected when the node request is timing out"
I am initialising my connection like

`Elasticsearch::Client.new hosts: ['https://<ip-of-node1>:9200', 'https://<ip-of-node2>:9200']`.
with following options - {reload_on_failure: true, reload_connections: true}.

Whenever there is request timeout on any of these nodes, I am getting the following traceback -
`Traceback (most recent call last):
  from faraday (0.9.2) lib/faraday/connection.rb:377:i

[2020-09-19 09:47] kushal-ladha commented on #1032
Came across this issue - https://github.com/elastic/elasticsearch-ruby/commit/68350f9f978badef57930aec35441f4d975f65bf

monkey-patched the 6.8.0 gem with the following commit but I still see the same error.

This only happens when I use reload_connections/reload_on_failure option while creating the connection. Whenever one of the host goes down, the request timeouts and the see the message -

` [2

[2020-09-28 19:34] woto opened #1038 "Sampler Aggregation in elasticsearch-dsl"
Hi. Am I right that there is no Sampler Aggregation feature in elasticsearch-dsl for now? :(

https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-sampler-aggregation.html#search-aggregations-bucket-sampler-aggregation

[2020-09-29 09:09] woto commented on #1038
Oh! Found that it was easy to add myself. But didn't create PR because didn't add tests :|

[2020-10-05 08:32] thiensubs commented on #973
Thank you for your comment.
Here is my config if somebody want to integrate with http.rb. (also after install faraday-http).

[code]

[2020-10-05 08:32] #973 closed

[2020-10-14 18:26] mikejmorgan commented on #754
Hi, we're having the same problem.  We're running a 7.7 instance on AWS and we can push indexes, but we cannot get any search in any method to work.  When we try a search call we're getting the 403 error.  We can check the status from a rails console and get connected just fine as well.  Rails 6.0.2.1.  @picandocodigo did you ever find anything else on this issue?

[2020-10-14 18:46] mikejmorgan commented on #754
Update, we know what the issue is, not sure where to fix it.  When running the search it adds an extra slash:
Elasticsearch::Model.search("Mike", [ClientUser]).records
INFO -- request: GET https://search-<redacted>.us-east-2.es.amazonaws.com/client_users//_search?q=Mike
Does anyone know where that extra slash is getting added.

[2020-10-27 13:44] HuntsmanX commented on #893
@jackellenberger Do you have any updates for it? I have the same problem

[2020-10-30 10:22] sriedel opened #1068 "Support for doc_as_upsert option in ElasticSearch::API::Actions#update"
This seems to have already been requested in the past, however it does not seem to be implemented in 7.9.0.

If all thats needed is adding the parameter to the ParamsRegistry.register call and a small documentation blurb, I can create a PR for this. Not sure how involved the unit tests need to be; they seem to be sparse anyway at first glance.

[2020-10-30 11:33] picandocodigo commented on #1068
Hi @sriedel, I believe you need to set up this parameter in the body of the request. So something like this should work:

[code]

Let me know if that works for you, thanks!

[2020-10-30 13:18] clive-devops opened #1070 "Crash while sending document"
backtrace:

[code]

[2020-11-05 09:47] picandocodigo commented on #1070
Hi @clive-devops, could you please add a bit more information to the issue?

- Which version of the client are you using?
- What code are you using to instantiate the client?
- What code are you using for `index`?

Can you connect to the cluster at all? Does `client.cluster.health` return the cluster state?

[2020-11-06 10:04] clive-devops commented on #1070
Hi @picandocodigo

This is an intermittent, during normal runtime, failure.

We're using 7.9.0

We're connecting as follows:
[code]

At this point we're fairly convinced this only arises within threads and that the internal `reload` mechanism might not be thread safe around the internal connection object(s). We're busy refactoring our code to ensure that new clients are created in isolation within

[2020-11-06 10:05] clive-devops commented on #1070
Sorry for the double reply,
worth noting is that we only recently added:

[code]

... and it's only since then that we've experienced this error.

[2020-11-06 18:52] lang1991 opened #1076 "delete_index_template and exists_index_template are implemented incompletely/incorrectly"
[delete_index_template.rb](https://github.com/elastic/elasticsearch-ruby/blob/master/elasticsearch-api/lib/elasticsearch/api/actions/indices/delete_index_template.rb) is missing the option to ignore 404 when attempting to delete a non-existing template. This is inconsistent with the API of the previous version of templates, [delete_template.rb](https://github.com/elastic/elasticsearch-ruby/blob/ma

[2020-11-06 22:31] picandocodigo commented on #1076
@lang1991 Thanks for reporting this! I'll take a look and update the endpoints.

[2020-11-10 02:10] chikinchoi opened #1079 "make es bulk request response time retrievable"
Hi Team,

I have asked a question in fluent-plugin-elasticsearch and they'd like me to send a request here.
For the issue backgroud, we are using the fluentd to send logs to elasticsearch now and we found that there are a lot of "slow_flush" warning in the fluentd log. I understand that the fluentd send logs to elasticsearch by using the bulk api request. Therefore, we checked if there is any slow

[2020-11-11 18:56] rawongithub opened #1081 "Port number is put twice when given with cloud_id string"
When a port number is provided with cloud_id string together with url, it results with the port number is given twice then.

`URI::InvalidURIError: bad URI(is not URI?): "https://...westeurope.azure.elastic-cloud.com:9243:9243`

[https://github.com/elastic/elasticsearch-ruby/blob/19fdb6f46f7017c347e1181f85a126cf885dc395/elasticsearch-transport/lib/elasticsearch/transport/client.rb#L197](https://gi

[2020-11-11 19:51] picandocodigo commented on #1081
Thanks for reporting this @rawongithub! I'll look into it as soon as possible.

[2020-11-16 11:01] picandocodigo commented on #1081
@rawongithub and @antarr who [reported this issue too](https://github.com/elastic/elasticsearch-rails/issues/965), I got a fix for this and I'll try to add this to `7.10` once I fix some other build-related issues. So ideally this will be fixed on `elasticsearch-ruby` `7.10.0` and onwards. Thanks!

[2020-11-16 14:47] picandocodigo opened #1086 "X-Pack Skips: ml crud"
Tests from [this commit](https://github.com/elastic/elasticsearch-ruby/pull/1077/commits/64847b363b08c7e38f4ea5f6408f37de42d43ede) are being skipped:
- ml/inference_crud.yml
- ml/filter_crud.yml

Could be related to new tests cleanup, investigate.

[2020-11-16 17:14] picandocodigo commented on #1081
@rawongithub and @antarr version `7.10.0` of the client has just been released with a fix. Please update and let me know if you have any issues and report back. Thank you very much!

[2020-11-18 18:47] patodevilla opened #1098 "Kibana Ruby Gem"
I know this might not be the ideal place for this issue but could not think of another place to mention that we are actively working on several 'elasticsearch-related' open source projects (that we created for our own use cases) that might be of interest to the community. If if helps, here is a Kibana Ruby API integration. It's still a work in progress but its a great start for anyone looking to d

[2020-11-20 02:41] nsiregar opened #1103 "Missing match_phrase query on elasticsearch-dsl"
Documentation in https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-match-query.html have a new match_phrase which currently not available in the match_phrase query such as

- auto_generate_synonyms_phrase_query
- fuzzy_transpositions

[2020-11-23 15:18] picandocodigo commented on #1098
Hi @patodevilla, thanks for letting us know about this!

We have a page for [Community Contributed Clients](https://www.elastic.co/guide/en/elasticsearch/client/community/current/index.html) where you can add your project by [opening a pull request](https://github.com/elastic/elasticsearch/blob/master/CONTRIBUTING.md#contributing-code-and-documentation-changes). The asciidoc you need to change is

[2020-11-23 16:09] patodevilla commented on #1098
Nice, as soon as I have some free time in my schedule I'll open a PR on the Kibana Client

[2020-11-23 23:30] #1081 closed

[2020-11-24 15:50] Cowboy-coder opened #1110 "Fail to parse elasticsearch version 7.10.0"
The following Regexp will fail

https://github.com/elastic/elasticsearch-ruby/blob/374ced543e65a0f6dd4fd1420e40a25e394ac375/elasticsearch-extensions/lib/elasticsearch/extensions/test/cluster.rb#L533-L537

on this version
[code]

My guess is that it should be `\d+` instead. For now I just downgraded to use a single-digit minor version but thought I'd point it out.

[2020-11-26 15:39] jamesbebbington commented on #1110
Yup, it sure does:

[code]

[2020-12-01 02:12] rful011 opened #1118 "Issues with reindex api"
I have been having a number of issues with the reindex api call and there appear to be inconsistencies between the ruby api code and the API docs.

1/. ruby api call wants a target parameter rather than dest as in the docs -- this is confusing.
2/ only index key in both the source and target hash appears to be checked and anything else is ignored.

I have been trying to include a query with a max_

[2020-12-01 05:40] cosmo0920 opened #1119 "[QUESTION] How to get created Data Streams on elasticsearch-ruby client?"
We're currently looking and investigating to implement data streams on fluent-plugin-elasticsearch.

Our goal is implementing Elasticsearch data streams plugin which uses elasticsearch-ruby client.
But current elasticsearch-ruby implements only get/create/delete for data streams on indices API on XPack:
https://github.com/elastic/elasticsearch-ruby/tree/master/elasticsearch-xpack/lib/elasticsearch

[2020-12-01 21:49] #1110 closed

[2020-12-01 22:09] picandocodigo commented on #1110
Hi folks, just released version 0.0.32 of `elasticsearch-extensions` which should fix this issue. Please open a new issue if you find any problems, thanks for reporting this!

[2020-12-03 20:43] rful011 opened #1129 "issues with bulk"
running against version 7 calls to bulk try to set type which is depreciated:

` expected START_OBJECT or END_OBJECT but found [VALUE_STRING]"}],"type":"illegal_argument_exception","reason":"Malformed action/metadata`

Is the ruby API still supported?

[2020-12-03 21:39] rful011 commented on #1129
one additional datapoint :  elasticsearch-api-7.10.0

[2020-12-03 22:26] picandocodigo commented on #1129
Hi @rful011, what's the code you're using to call bulk? Type [was deprecated](https://www.elastic.co/guide/en/elasticsearch/reference/current/removal-of-types.html), but it's still in the bulk spec. So if you're using a recent version of the stack, you don't need to specify the `type` parameter and `bulk` won't use it.

Using Elasticsearch 7.10.0 and elasticsearch-api 7.10.0:
[code]

[2020-12-04 05:11] rful011 commented on #1129
That is basically what I have.  When I saw the error I immediately checked my code to make sure I had not missed an instance of `type`in my cleanup for V7.
[code]

which gives the following output:
[code]

I am about to try doing this with an http connection and call to post...

[2020-12-05 00:24] rful011 commented on #1129
I finally figured out what the issues was.  I accidentally included meta data from the old index in the body.   Apologies for the noise :)

[2020-12-07 10:05] picandocodigo commented on #1129
@rful011 no worries! Glad to know you found where the issue was, thanks for reporting back!

[2020-12-07 10:05] #1129 closed

[2020-12-07 11:26] picandocodigo commented on #1119
Hi @cosmo0920, as you mention, the client supports `create_data_stream` from [the API in X-Pack](https://www.elastic.co/guide/en/elasticsearch/reference/master/indices-create-data-stream.html).

If you want to use a POST operation, you can do so manually with the client:

[code]

[2020-12-07 12:19] cosmo0920 commented on #1119
Thanks for the answer.
Hmm..., client#perform_request did the trick!

[2020-12-07 17:31] jamesbebbington opened #1130 "Cluster fails to start with error "unknown setting [xpack.security.enabled]""
Since upgrading from `0.3.1` to `0.3.2` of `elasticsearch-extensions`, attempting to start a local development cluster for testing using `Elasticsearch::Extensions::Test::Cluster.start` fails to launch with:

[code]

Deleting [Line 208 of cluster.rb](https://github.com/elastic/elasticsearch-ruby/blob/27ab81cee2842e39fef08aa35bc9ac5ff24e0cb9/elasticsearch-extensions/lib/elasticsearch/extensions/tes

[2020-12-07 20:35] mcjansen opened #1131 "Retrieving once in a while the response of the request of another user"
I have noticed some bizarre behavior in our Rails 6 / Elastic-search-ruby/ Elastic Cloud on Kubernetes setup.

Once or twice per hour, a user receives the results of a query that was executed by another user. I haven't found a way to reproduce it. At this moment, I can only detect it after the event.

Initially, the ElasticSearch client was shared between processes. I thought that could be the cau

[2020-12-09 10:04] #1119 closed

[2020-12-12 10:06] mcjansen commented on #1131
I finally found an issue in my own Ruby code that caused this to happen.

[2020-12-12 10:06] #1131 closed

[2020-12-12 21:06] rful011 opened #1133 "create data_stream request"
Is there call for `PUT /_data_stream/my-data-stream`

if so I could not find it

[2020-12-13 01:18] rful011 commented on #1133
Ah!  it looks as if the ruby api has no support for datastreams (Please tell me I am wrong!)

Looking at the code for index I see that it always puts a _doc in the index request this is not allowed when the target is a datastream.

[2020-12-13 22:44] woto opened #1134 "date_histogram combined interval field is deprecated"
Hi guys it seems https://github.com/elastic/elasticsearch-ruby/blob/ee83caf8ea090775b19190341eeee2cd627fdcd0/elasticsearch-dsl/lib/elasticsearch/dsl/search/aggregations/date_histogram.rb#L41
should be updated according `interval` deprecation https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-datehistogram-aggregation.html

Thanks

[2020-12-15 14:33] picandocodigo commented on #1133
Hi @rful011, the client supports `create_data_stream` from [the API in X-Pack](https://www.elastic.co/guide/en/elasticsearch/reference/master/indices-create-data-stream.html).

You can also use a POST operation manually with the client:

[code]

[2020-12-16 14:32] ximes commented on #1130
_I think_ it popped up after bumping to 7.10; `x-pack` being deprecated? https://github.com/elastic/elasticsearch-ruby/blob/master/CHANGELOG.md#x-pack

[2020-12-16 17:46] picandocodigo commented on #1130
Hi @jamesbebbington, thanks for reporting this!

The oss distribution does not recognize the x-pack security features, that's why it's failing in that line. I wasn't able to reproduce the issue until I realized the difference in the build string from your version to mine:
`Build: oss/tar/51e9d6f22758d0374a0f3f5c6e8f3a7997850f96/2020-11-09T21:30:33.964949Z` vs
`Build: default/tar/51e9d6f22758d0374a

[2020-12-17 10:44] #1130 closed

[2020-12-23 18:35] MothOnMars opened #1150 "elasticsearch-dsl: minimum_should_match has wrong nesting level in bool filters"
gem version: 0.1.9

**Steps:**
Attempt to set the `minimum_should_match` option in a bool filter:
[code]

**Expected Results**
`minimum_should_match` is nested under the bool filter:
[code]

**Actual Results:**
`minimum_should_match` is nested under the bool query:
[code]

The root cause appears to be that `minimum_should_match` is not supported for bool filters:
[code]

[2021-01-04 06:05] hiroshi commented on #826
For those who depend on older version of elasticsearch and required to update faraday to newer version by other dependencies. This snippet of code may be help.

(e.g config/initializers/elasticsearch.rb in a Rails project)
[code]

[2021-01-12 12:29] janko opened #1165 "RubyDoc.info links return 404 Not Found"
The official API doc links to RubyDoc.info return 404 Not Found – https://rubydoc.info/gems/elasticsearch-api.

![Screenshot 2021-01-12 at 13 30 11](https://user-images.githubusercontent.com/795488/104314876-57f1cc00-54da-11eb-8f71-0bbd6b8a3c9a.png)

[2021-01-15 14:44] picandocodigo commented on #1165
Hi @janko, thanks for reporting this! It looks like RubyDoc had a reindex of the docs or maybe some other temporary issue. It is working now and I double checked that [transport](https://rubydoc.info/gems/elasticsearch-transport), [elasticsearch](https://rubydoc.info/gems/elasticsearch) and the rest of our gems are working.

Thanks again!

[2021-01-15 15:08] janko commented on #1165
You're right, it's back up again, thanks 👍

[2021-01-18 08:09] #1165 closed

[2021-01-18 23:07] invke opened #1171 "DSL AST initialisation searches recessive searches for const up namespaces"
When the DSL AST initialises nodes, it performs a `.const_get` on the relative module. This has problems, as it will look recursively up the entire module tree for a relating const that it will then instantiate.

For example, in `method_missing` on [`Elasticsearch::DSL::Search::Query` line 39](https://github.com/elastic/elasticsearch-ruby/blob/master/elasticsearch-dsl/lib/elasticsearch/dsl/search/

[2021-02-22 20:25] #1150 closed

[2021-02-22 20:43] #1018 closed

[2021-02-24 18:42] tlang1991 opened #1224 "New header "X-Elastic-Client-Meta" introduced in 7.11.0 broke adapters"
We were able to create a Elasticsearch client with `typhoeus` adapter in 7.10 like so: `Elasticsearch::Client.new(adapter: :typhoeus)`. And we didn't need to pre-load `typhoeus` by `require 'typhoeus'` in our code.

However, after upgrading to 7.11.1, our code no longer works and will cause `NameError: uninitialized constant Elasticsearch::Transport::Client::Typhoeus` in `elasticsearch-transport-7

[2021-02-25 10:48] picandocodigo commented on #1224
@tlang1991 thanks for reporting this! I'll work on a fix and release a `7.11.2` version as soon as possible.

[2021-02-25 18:30] picandocodigo commented on #1224
@tlang1991 I've release `7.11.2` which fixes this issue. Please let me know if there's any other issues, thanks!

[2021-02-26 19:02] tlang1991 commented on #1224
From what we have seen, we believe this issue has been fixed. So closing this.

[2021-02-26 19:02] #1224 closed

[2021-03-01 21:42] picandocodigo commented on #686
I believe this issue has already been fixed, but please open a new issue if you're having problems connecting to cloud or with `https`.

[2021-03-01 21:42] #686 closed

[2021-03-01 22:00] #1086 closed

[2021-03-01 22:01] #962 closed

[2021-03-01 22:09] picandocodigo opened #1231 "Avoid logging FATAL when `exists` endpoint returns 404"
[code]

* Original issue: https://github.com/elastic/elasticsearch-rails/issues/980

[2021-03-02 11:22] #853 closed

[2021-03-11 09:17] marvinahv opened #1246 "404 - documentation site is not found"
Hi, there.

I'm trying to access the documentation for the elasticsearch API at https://rubydoc.info/gems/elasticsearch-api, but it doesn't seem to be available anymore. Is there another documentation site?

Thanks in advance. Awesome gem.

[2021-03-12 14:57] matsimitsu commented on #1032
It seems like we're experiencing the same issue, once one of the 3 nodes is down, we get these timeout errors and every request to ElasticSearch will fail.

How would one configure the client to still make requests to the other nodes, while keeping the broken one out of the pool?

[2021-03-25 18:00] picandocodigo commented on #1246
Hi @marvinahv thanks for reporting this. We've had this happen in the past, and I'm not sure where the issue is. It is working now, but it looks like it's not 100% reliable. I'll dig into it.

[2021-04-02 23:27] ajjahn commented on #747
Ping.

[2021-04-03 01:41] ioquatix commented on #747
Pong.

[2021-04-13 10:53] picandocodigo opened #1269 "Skipping 'searchable_snapshots/10_usage.yml' test"
XPack Rest API YAML tests `searchable_snapshots/10_usage.yml`

"Tests searchable snapshots usage stats with full_copy and shared_cache indices"

the expected response pair/value(s) `{"snapshot.shards.failed"=>0}` does not match the pair/value(s) in the response `{"snapshot"=>{"shards"=>{"total"=>1, "failed"=>1, "successful"=>0}}}`

[2021-04-15 15:02] picandocodigo opened #1274 "X-Pack is being deprecated in 8.0.0"
Starting in 8.0.0, the "X-Pack" integration library codebase will be merged into `elasticsearch-api`. The `elasticsearch-xpack` gem will be deprecated and all the functionality will be available from `elasticsearch-api`.

The `xpack` namespace will be removed for accessing any APIs other than `_xpack` (`client.xpack.info`) and `_xpack/usage` (`client.xpack.usage`). But APIs which were previously a

[2021-04-22 14:48] picandocodigo commented on #907
Fixed in: https://github.com/elastic/elasticsearch-ruby/commit/a7013920a3d7eaa1673459de65d4e6a67c409fa1

[2021-04-22 14:48] #907 closed

[2021-04-26 08:34] picandocodigo opened #1291 "Skipping `service_accounts/10_basic.yml` test"
XPack Rest API YAML test `service_accounts/10_basic.yml` - Test service account tokens

Currently in `master` and `7.13`. The test creates one token but expects `count` to be 2.

[2021-05-12 14:32] lavaturtle opened #1308 "Elasticsearch::Model.search has issues with AWS instance credentials"
We are using `elasticsearch` on AWS with `faraday_middleware-aws-sigv4` to sign requests with instance credentials. This has been working successfully with single-model searches like `MyModel.search` as well as multi-model `Elasticsearch::Model.search` searches, using version 7.4.0.

Recently, we tried to upgrade to 7.6.0 to address https://github.com/elastic/elasticsearch-ruby/issues/826. After u

[2021-05-17 14:05] ilude opened #1317 "Documentaion update, type: should not be set when indexing a document?"
According to https://www.elastic.co/guide/en/elasticsearch/reference/current/removal-of-types.html

Documentation examples for versions 7+  like
[code]
should be changed to
[code]
Otherwise you are very likely to get completely unhelpful error from elasticsearch (not the gem) that reads something like
[code]
because they are deprecating setting types in indexes.

See https://github.com/elastic/ela

[2021-05-18 13:42] picandocodigo commented on #1317
Thanks for reporting this @ilude! I will update this documentation :+1:

[2021-05-19 12:13] #1317 closed

[2021-05-24 08:46] picandocodigo commented on #1308
Hi @lavaturtle,
Thanks for reporting this, unfortunately I don't know if there's any workaround other than what's been mentioned on the linked issues. The Elasticsearch clients go through rigorous testing and validation against the official Elasticsearch distribution coming from Elastic. Since the AWS Elasticsearch Service has incompatible APIs with Elasticsearch itself, either by missing APIs or

[2021-05-24 08:46] #1308 closed

[2021-06-04 10:50] picandocodigo opened #1340 "Skipping `transform` tests"
XPack YAML tests:

- `transform/transforms_start_stop.yml` - `*`. Failing in Ruby 2.x but not Ruby 3.x.
- `transform/transforms_cat_apis.yml` - `Test cat transform stats hiding headers`, failing in Ruby 2.x but not Ruby 3.x.
- `transform/transforms_upgrade.yml` - `Test upgrade transform` failing in all versions
Error is:
[code]

Need to debug to find out the cause.

[2021-06-04 18:12] picandocodigo opened #1344 "The elasticsearch-transport gem will be promoted to its own repository"
The gem `elasticsearch-transport` is currently being used as the HTTP transport layer for both the elasticsearch gem and the [elastic-enterprise-search](https://github.com/elastic/enterprise-search-ruby/) gem.
-  The functionality specific to Elasticsearch will be moved from `elasticsearch-transport` to `elasticsearch` and we'll decouple these two libraries.
- `elasticsearch-transport` is going to

[2021-06-15 06:15] kannanvr opened #1353 "ES plugin grips PodIP instead of FQDN name as node information"
Hi,
  We have tested Elasticsearch 7.9.3 with fluentd latest version.
Fluentd could not send Logs to elasticsearch if elasticsearch is restarted
Following is the Logs
[code]
We have configured the service FQDN to send the fluentd data to elasticsearch. BUt it is trying to send via pod IP.
We dont want fluentd send the data via pod IP directly, It should send via the service IP which we have config

[2021-06-15 13:50] kreintjes opened #1354 "Elasticsearch-extensions (Test::Cluster) replacement?"
We are trying to test our Elasticsearch feature in a Rails system (integration) test using the Rspec test framework. We found some articles describing a set-up using the test cluster feature (Elasticsearch::Extensions::Test::Cluster) from the elasticsearch-extensions gem:

- https://medium.com/@rowanoulton/testing-elasticsearch-in-rails-22a3296d989
- https://bonsai.io/blog/testing-elasticsearch-ru

[2021-06-16 09:27] picandocodigo commented on #1354
Hi @kreintjes,
Thanks for raising this issue. It should be safe to keep using the `elasticsearch-extensions` gem for now.

We've been using docker or GitHub Actions for testing in our clients. We use a `run-elasticsearch` bash script you can find [here](https://github.com/elastic/elasticsearch-ruby/blob/master/.ci/run-elasticsearch.sh) for our integration tests, it launches one or more Elasticsear

[2021-06-16 09:38] picandocodigo commented on #1353
Hi @kannanvr,
I don't think I have enough information to understand this issue. It looks like the Elasticsearch Ruby client is working ok through the fluentd plugin, but there is some setup issues with your cluster?

[2021-06-16 13:59] kannanvr commented on #1353
Hi @picandocodigo ,
  Let me explain you about our test setup
 1.  within same kubernetes cluster, Fluentd is keep sending data to elasticsearch
 2. We have a centralized cluster where we have a elasticsearch running as a POD. From every remote cluster we are running fluentd. From remote cluster, Fluentd keep sending the data to Centralized Elasticsearch cluster via Loadbalancer IP.
 Fluentd Versi

[2021-06-24 00:03] marvinahv commented on #1246
Awesome. Thank you, @picandocodigo !

[2021-06-24 00:03] #1246 closed

[2021-06-28 16:27] #1068 closed

[2021-06-28 22:23] #1028 closed

[2021-06-30 18:58] tmaier opened #1367 "Release a new version of elasticsearch-dsl gem"
The last release of the [elasticsearch-dsl](https://rubygems.org/gems/elasticsearch-dsl) gem is from 2019.

There were some notable changes in the last months. Particularly February 2021.
It would be great if you could do a new release.

I believe this change would constitute for a major release: https://github.com/elastic/elasticsearch-ruby/commit/6b2e3bac39cf520d52adc17aee696fb7fa1de77a#diff-426

[2021-07-03 15:46] andreas12345 opened #1370 "Support retry with exponential backoff"
When bulk importing large datasets, e.g., with elasticsearch-model `Article.limit(100000).import`, the server can easily become overloaded and respond with `429 Too Many Requests`. While elasticsearch-ruby supports retries with retry_on_failure, there is no pause between retries, making them not very useful for dealing with the rate limitation. Ideally, retry should support delays with exponential

[2021-07-05 23:10] kannanvr commented on #1353
@picandocodigo , Any update on this issue

[2021-07-06 09:20] picandocodigo commented on #1367
Hi @tmaier,
Thanks for raising this issue.
A new version of `elasticsearch-dsl` was released with all the recent changes:
https://github.com/elastic/elasticsearch-ruby/releases/tag/v0.1.10
Please add a new issue if you encounter any problems.
Cheers!

[2021-07-06 09:20] #1367 closed

[2021-07-19 18:04] picandocodigo opened #1393 "Skipping `ml/jobs_crud` test"
[code]

[2021-08-05 20:18] alimac commented on #1344
@picandocodigo Hi. fwiw, running into `NoMethodError: undefined method `logger' for #<Elasticsearch::Transport::Client:0x00007f8aef7d7e50>` when deleting/refreshing indices: https://github.com/elastic/elasticsearch-rails/issues/998#issuecomment-893767647

[2021-08-05 20:20] picandocodigo commented on #1344
Hi @alimac, thanks for reporting this. I'll take a look as soon as possible!

[2021-08-10 11:00] kares opened #1426 "tracing broken on JRuby with Manticore transport"
curl style tracing with `Elasticsearch::Client.new(trace: true)` assumes `headers` method on the transport client.
however, this isn't the case with Manticore and simply fails, sample reproducer:

[code]
[code]

[2021-08-10 13:28] picandocodigo commented on #1426
Hi @kares, thanks for reporting this! I'm taking a look into this right now. Once I write a fix, I can backport it to `7.13` and `7.14`, but 7.5 is not supported anymore. Is this for `7.5`?

[2021-08-10 14:10] kares opened #1428 "Manticore transport unable to send custom headers since 7.2"
The way the *elasticsearch-transport* gem was refactored in 7.2 broke the Manticore backend under JRuby.
All versions since 7.2 are affected (the bug is present in 7.14.0), last working version seems to be 7.1.0.

NOTE: that the Manticore backend does not support the `:user`/`:password` options.

[code]
... fails with 401 despite correct credentials due the headers getting replaced by the client l

[2021-08-10 14:35] kares commented on #1428
[code]

[2021-08-10 15:18] kares commented on #1426
Hey, thanks for looking into this - not really that important just something I've run into while debugging [another issue](https://github.com/elastic/elasticsearch-ruby/issues/1428) :wink:
It's fine to fix in next 7.x minor or whatever is supported e.g. 7.14.1 would be nice to have.

[2021-08-11 06:53] baranyeni commented on #1344
Hi @picandocodigo @alimac I am facing with the exact same error afterwards updating my gems. Is there any current solution with this problem? Can we say it's an official bug, so I can just downgrade back and keep my work up?

[2021-08-11 10:11] picandocodigo commented on #1344
@alimac and @baranyeni,
I've released [elasticsearch-rails 7.2.0](https://github.com/elastic/elasticsearch-rails/releases/tag/v7.2.0), please let me know if you're still having the issue after upgrading. Thanks!

[2021-08-11 18:50] baranyeni commented on #1344
Well, this specific problem is solved but I my unit tests are failing I think it is somehow related with this gem. When I update the elasticsearch-rails gem to `gem 'elasticsearch-rails', github: 'elastic/elasticsearch-rails', ref: '583f1ed29dd6bae794f5087cca4dddb10126db14' #ver: 7.2.0`  I saw below lines are removed from my Gemfile.lock so should I add them manually or what do you suggest?

-

[2021-08-11 18:56] alimac commented on #1344
@baranyeni I believe you have to add
[code]
to your Gemfile explicitly. At least, that's what I have.

And setting a minimum version:
[code]
fixed the spec failures for me.

Thanks @picandocodigo for the quick response and release!

[2021-08-11 19:20] baranyeni commented on #1344
Thanks but it did not solved any of my errors.

[2021-08-12 08:58] denisj opened #1429 "The client noticed that the server is not a supported distribution of Elasticsearch."
Here is the version of our ElasticSearch server. We are using AWS Elasticsearch Service.
[code]

When upgrading to elasticsearch v7.14, we are having this issue:
`/usr/local/bundle/gems/elasticsearch-7.14.0/lib/elasticsearch.rb:85:in `verify_with_version_or_header': The client noticed that the server is not a supported distribution of Elasticsearch. (Elasticsearch::UnsupportedProductError)`

Every

[2021-08-12 12:47] anderslemke commented on #1429
We get the same error.

We're using Bonsai to host our Elasticsearch, and they seem to have the `oss` as `build_flavor`.

[2021-08-12 19:22] engineersmnky commented on #1429
@anderslemke Bonsai has a whole warning page for that [Here](https://docs.bonsai.io/article/99-searchkick)

[2021-08-13 08:53] picandocodigo commented on #1429
With the `7.11` release of Elasticsearch, we will no longer be releasing oss-only distributions, as stated in the [FAQ on license change](https://www.elastic.co/pricing/faq/licensing). The recommendation is to upgrade to the latest default distribution of Elasticsearch, which is free to use under [Elastic License v2](https://www.elastic.co/licensing/elastic-license). Otherwise, you can pin the cli

[2021-08-13 09:19] anderslemke commented on #1429
OK. I see. Those changes makes sense from a business perspective. 👍

We're hosting on Heroku, and I would actually love to switch to the "real" Elastic-hosted version (https://elements.heroku.com/addons/foundelasticsearch).

I guess this would fix it for us.

But I'm really missing a "free tier" that we could run on our staging environment. Do you know if this would be possible? @picandocodigo

[2021-08-13 21:27] samstickland commented on #1429
I do think the error message could be a bit more descriptive.

Bonsai is still using 7.10.2, so after getting this error message when I upgraded this gem to 7.14.0 I spent ages investigating if 7.10.x support had been dropped.

[2021-08-14 02:36] ThangLeQuoc commented on #1429
Here the relevant PR that made this breaking change: https://github.com/elastic/elasticsearch-ruby/pull/1360/files
File: elasticsearch.rb
Function
![image](https://user-images.githubusercontent.com/20574640/129431845-9b94f7c2-cefd-4e1c-8cab-7290e2633ac5.png)

From the implementation, it's now only accept the `build_flavor` is `default`. Since the bonsai server is using `build_flavor` `oss`, so it

[2021-08-14 17:37] baranyeni opened #1430 "Elasticsearch::UnsupportedProductError with Bonsai connection"
I am facing with the issue of **Elasticsearch::UnsupportedProductError (The client noticed that the server is not a supported distribution of Elasticsearch.):** As I read from Bonsai, they say after elasticsearch gem version >7.13 connection to bonsai is no more supported [here](https://docs.bonsai.io/article/99-searchkick).

Downgrading to 7.13 is not a solution for me because I was having [this]

[2021-08-16 07:37] philkra commented on #1429
@anderslemke you can use the `default` distribution of [Elasticsearch](https://www.elastic.co/downloads/elasticsearch), which is free to use under [Elastic License v2](https://www.elastic.co/licensing/elastic-license).

[2021-08-16 12:21] baranyeni commented on #1430
For those who is facing same or similar problem I downgraded my elasticsearch gem to 7.6.0 and it's working fine with Bonsai right now.

[2021-08-16 12:21] #1430 closed

[2021-08-17 11:56] picandocodigo commented on #1428
Fixed in:
https://github.com/elastic/elasticsearch-ruby/pull/1436

[2021-08-17 11:56] #1428 closed

[2021-08-20 14:46] dshorthouse commented on #1344
Is this also what am getting:

`NoMethodError - undefined method `reload_connections!' for #<Elasticsearch::Transport::Client:0x00007fe2c31640d8>`

Even though this method is clearly stated in the [README](https://github.com/elastic/elasticsearch-ruby)?

[2021-08-23 21:21] picandocodigo commented on #1344
Thanks for reporting this, I'm going to look into it and release a fix as soon as possible.

[2021-08-24 13:00] picandocodigo opened #1459 "Neutral naming: Renaming default branch from 'master' to 'main'"
The default branch in this repository is going to be renamed from `master` to `main`.

Steps:
- [ ] [Rename the default branch](https://docs.github.com/en/github/administering-a-repository/managing-branches-in-your-repository/renaming-a-branch)
- [ ] https://github.com/elastic/docs/pull/2198
- [ ] Set up infra for [Jenkins CI](https://clients-ci.elastic.co/view/Ruby/).

[2021-08-26 10:20] picandocodigo opened #1462 "v8.0.0 Roadmap"
We've started working on the next major version of the client, so we want to share this issue with information on what's coming up. This issue outlines ideas, concepts and features that we hope to include in the v8.0.0 client release. Some items may change, be removed or new ones added as we investigate and work on them, but we'll update this issue as we do.

## General

- [ ] Write a Rubocop sett

[2021-08-26 17:02] picandocodigo opened #1469 "Skipping `indices.get_alias/10_basic.yml` in main"
After debugging this it looks like it must be a race condition or an issue with `wipe_cluster` in the TestFile regarding pending tasks. Skipping initially but adding this issue to follow up.

[code]

[2021-08-27 09:45] lepi1 opened #1475 "Different id when I use bulk or create"
**elasticsearch-ruby 7.0.0**

If I do a `bulk` with this id: `Mi LED 4K TV 4S 44''` and then do a **create** with the same id, it will save two different records.

Example (steps):
`client = Elasticsearch::Client.new`
`client.bulk(body: [{create: { _index: @index_name, _id: "Mi LED 4K TV 4S 44''", data: {doc: 'Hello' }}}])`
`client.create(index: @index_name, id: "Mi LED 4K TV 4S 44''", body: {doc:

[2021-08-27 15:52] senalkularatne opened #1476 "How do you provide a custom document id when Indexing a document?"
How do you provide a custom document id when Indexing a document? [Source](https://www.elastic.co/guide/en/elasticsearch/client/ruby-api/current/examples.html#ex-index)

[code]

[2021-08-30 14:56] #1476 closed

[2021-08-30 14:57] senalkularatne commented on #1476
Use `id` inside client.index().

[2021-09-05 08:25] tagliala opened #1479 "elasticsearch-transport: Faraday::Connection#basic_auth is deprecated"
Hi,

I've updated Faraday from 1.7.0 to 1.7.1 and I'm getting this deprecation warning from `elasticsearch-transport`:

[code]

Versions:
[code]

Ref: lostisland/faraday#1306

[2021-09-06 16:33] picandocodigo commented on #1479
Hi @tagliala, thanks for reporting this!

I'm following the issue in Faraday, see if the support for basic auth in URLs is dropped. But I may update the client anyway to maybe send the auth header instead of depending on Faraday for this.

[2021-09-10 11:44] sriedel opened #1490 "wait_for_completion: false causes deprecation warnings with delete_by_query"
Adding the `wait_for_completion: false` option to calls of `delete_by_query` causes the following deprecation message to be returned from the server:

    warning: 299 Elasticsearch-7.14.0-... "this request accesses system indices: [.tasks], but in a future major version, direct access to system indices will be prevented by default"

The api documentation of the gem does not mention that this opti

[2021-09-13 16:27] picandocodigo commented on #1479
Closing this issue as [it's been addressed upstream](https://github.com/lostisland/faraday/issues/1319#issuecomment-918325960) and it's fixed for Faraday v1.7.2 :raised_hands:

[2021-09-15 07:41] StochasticSpring opened #1494 "Passing Azure deployed Elastic Cloud `cloud_id` into `Elasticsearch::Client.new` resolves to malformed host URL"
From my Gemfile.lock:
[code]

 As title indicates, we have Elasticsearch cluster on Elastic Cloud with both AWS and Azure providers. When the `cloud_id` is passed into client creation as such `Elasticsearch::Client.new(cloud_id: ...)` this is the resulting error:

[code]
Note the URL in the exception has a malformed part where the port number is appended twice. This issue does not arise when I att

[2021-09-15 07:42] StochasticSpring commented on #1494
Very sorry just noticed this was already reported in https://github.com/elastic/elasticsearch-ruby/issues/1081

[2021-09-15 07:42] #1494 closed

[2021-09-22 10:49] jsvd opened #1508 "Transport::Base sometimes logs warnings to stderr"
When using the elasticsearch-transport library or the client itself, if Elasticsearch emits a warning, it gets logged to stderr instead of the through the Loggable:

https://github.com/elastic/elasticsearch-ruby/blob/ec5e992169c1057a37dbdc477cf2f44f635b5d12/elasticsearch-transport/lib/elasticsearch/transport/transport/base.rb#L369

https://github.com/elastic/elasticsearch-ruby/blob/ec5e992169c1057

[2021-09-22 14:27] #744 closed

[2021-09-22 14:27] #748 closed

[2021-09-28 07:39] baranyeni opened #1513 "noTimeout cursors are disallowed in this atlas tier"
Hi,

   I was using elasticsearch-ruby gem for a while. Week ago, my EA functions started to work really slower. I was trying to find the things gone wrong by investigating my DB, EA indexes and cache servers. At the end, as I was trying to recreate my indexes; I faced the below error. Currently, I can not access any of my data because of that problem. It is kind of urgent and need some help. Than

[2021-10-05 12:11] #1508 closed

[2021-10-05 13:55] picandocodigo commented on #1508
@jsvd Thansk for reporting! I fixed this in `7.x` and `main`, so it'll be out in `7.16` and `8.0.0`.

[2021-10-06 15:58] picandocodigo commented on #1513
Hi @baranyeni,
This seems like an issue with the Mongo server, maybe check with your provider or the settings of the server? I can't see how the error is related to the Elasticsearch client.

[2021-10-13 09:58] picandocodigo commented on #581
Closed in https://github.com/elastic/elasticsearch-ruby/pull/1529

[2021-10-13 09:58] #581 closed

[2021-10-13 21:58] Derekbrenner opened #1534 "Count api is using a post method."
https://github.com/elastic/elasticsearch-ruby/blob/35e462e9b3e08c2e3a49f06572a281cf0ea5c64d/elasticsearch-api/lib/elasticsearch/api/actions/count.rb#L52

This is supposed to be a GET api call.
https://www.elastic.co/guide/en/elasticsearch/reference/current/search-count.html

In some cases POST methods may be restricted but the count api is a read only.

[2021-10-18 10:06] picandocodigo opened #1539 "Skipping `ml/categorization_agg.yml` test"
The previous tests in this file are all passing, but this one is not returning the expected exception. Skipping initially but adding this issue to follow up.
[code]

[2021-10-20 14:50] Ranakel commented on #1429
+1

[2021-10-28 18:28] icalvete opened #1554 "'method_missing': undefined method 'transform'"
We can read into the [elasticsearch-ruby CHANGELOG][1] (Vewsion 7.7.0) That we have New API Endpoints availables. Transforms included. [Here they are][2].

We are using elasticsearch-ruby 7.15.0. But don't know how to use it.

Here is my example...

[code]

But we get an error...

[code]

The code it's inside the folder /lib/elasticsearch/api/actions. Just as indices.

We can use indices like that

[2021-11-01 14:51] lepi1 commented on #1475
Can someone please take a look?

[2021-11-02 10:51] icalvete commented on #1554
Thanks @picandocodigo , that has been useful.

[2021-11-02 11:30] #1554 closed

[2021-11-02 21:00] njvack commented on #1429
I would definitely recommend abiding by the terms of the elastic license. However, if you are abiding by the terms of the license and the client is being grumpy with you, you can do this after loading the gem but before connecting to your client (say, in an initializer in Rails):

[code]

Basically, you're just patching out [this check](https://github.com/elastic/elasticsearch-ruby/blob/a55a4260fb

[2021-11-03 09:24] picandocodigo commented on #1429
@njvack If you're using one of our supported versions and you're getting this error with the client, then it's a bug. Please report it.

You can patch the client to avoid the validation as it's easy to do in Ruby. However, the Elasticsearch clients go through rigorous testing and validation against the official Elasticsearch distributions we support coming from Elastic. Since other Elasticsearch s

[2021-11-03 13:24] njvack commented on #1429
Thank you; yes, I'm aware of the advantages of using a supported server, and don't expect any support whatsoever for this configuration, or talking to unsupported servers. I would be surprised if anyone expects that.

FWIW, this came up for me because I've installed Elasticsearch via homebrew on my development computer. Yes, I know from this thread that I can pin the client to > 7.14. It is a litt

[2021-11-03 16:18] picandocodigo commented on #1429
You can used the latest default distribution of Elasticsearch with [Homebrew](https://www.elastic.co/guide/en/elasticsearch/reference/current/brew.html). This would furthermore not require any patching of the client as server and client are compatible. The client is intended to be used [forward compatible](https://github.com/elastic/elasticsearch-ruby#compatibility).

If want to know more about th

[2021-11-11 10:50] picandocodigo opened #1563 "Skipping free `tsdb/80_index_resize.yml` test"
Exception: `Cannot invoke "org.elasticsearch.action.admin.indices.stats.IndexStats.getIndexShards()" because the return value of "org.elasticsearch.action.admin.indices.stats.IndicesStatsResponse.getIndex(String)" is null"`

[code]

[2021-11-11 17:49] picandocodigo commented on #1490
Hi @sriedel,
I think the issue is not with `wait_for_completion`, but with the index parameter. If you use `_all` or an empty String, you'll be accessing system indices.

Also in version `7.16`, the way these warnings are logged changes from using `Kernel.warn` to the client's configured logger, so you'll have better control over Elasticsearch warnings and where you want to log them.

[2021-11-11 17:55] picandocodigo commented on #1475
Hi @lepi1,
The issue here is `index` (called by `create`) is calling an Util function [`listify`](https://github.com/elastic/elasticsearch-ruby/blob/7.16/elasticsearch-api/lib/elasticsearch/api/utils.rb#L52) on the `id`, which [escapes](https://github.com/elastic/elasticsearch-ruby/blob/7.16/elasticsearch-api/lib/elasticsearch/api/utils.rb#L32) the characters. A fix would be to use `CGI.escape` or

[2021-11-16 14:36] mroliveira7 commented on #764
I'm having a similar problem but with nested. I want a multiple `nested` for an `AND` but the it only adds the last to the hash. Here is an example:

[code]

The hash output is:
[code]

[2021-12-06 11:51] picandocodigo commented on #251
Closing this particular issue. If still required, this is a discussion that should be held in the entire Clients team for all clients.

[2021-12-06 11:51] #251 closed

[2021-12-06 11:58] picandocodigo commented on #252
Closing since this it hasn't arisen as a priority on our roadmap. This would require a third party to contribute code for such an extension.

[2021-12-06 11:58] #252 closed

[2021-12-06 12:05] picandocodigo commented on #1534
Issue answered with workaround.

[2021-12-06 12:05] #1534 closed

[2021-12-06 12:10] picandocodigo commented on #1098
Direction provided for contribution. Issue can be closed.

[2021-12-06 12:10] #1098 closed

[2021-12-06 12:18] picandocodigo commented on #352
This has not surfaced on our roadmap and a workaround has been provided. Closing issue.

[2021-12-06 12:18] #352 closed

[2021-12-06 12:22] #1429 closed

[2021-12-08 14:10] picandocodigo commented on #1076
Hi @lang1991, these APIs have been updated. `delete_index_template` accepts the ignore 404 parameter since 7.16.0 and `exists_index_template` will return boolean starting on the next release. Thanks!

[2021-12-08 14:10] #1076 closed

[2021-12-08 17:13] picandocodigo commented on #1490
This has been updated in 7.16. I'm closing this issue, but feel free to open a new issue if anything.

[2021-12-08 17:13] #1490 closed

[2021-12-08 17:52] picandocodigo commented on #1370
Hi @andreas12345,
With [version `7.16.0`](https://github.com/elastic/elasticsearch-ruby/releases/tag/v7.16.0), a new parameter was added:
`delay_on_retry` - a value in milliseconds to wait between each failed connection
Please check it out if you have a chance and if you encounter any problem, don't hesitate to open a new issue.
Thanks!

[2021-12-08 17:52] #1370 closed

[2021-12-08 20:53] #911 closed

[2021-12-08 20:53] #936 closed

[2021-12-13 11:55] picandocodigo commented on #1475
We're planning to discuss a common approach withing the team to address this issue. A workaround has been provided in the meantime.

[2021-12-13 12:10] picandocodigo commented on #1354
We've had a discussion internally with the team and we've arrived to the conclusion that we won't be offering testing tools at the time. We recommend looking at Docker or Docker Compose tools available. You can also use the included Rake task in this project with: `rake docker:start[version]` where `version` is one of the versions listed [here](https://artifacts-api.elastic.co/v1/versions).

[2021-12-13 12:10] #1354 closed

[2021-12-13 12:24] picandocodigo commented on #1353
We're having difficulty understanding what we can contribute as the maintainers of the Elasticsearch Ruby client. This appears to be related to a high level architecture problem. Can you describe a specific Ruby client issue that we can address? The responsibility of the client is to communicate with Elasticsearch. If the problem lies within Elasticsearch or the general architecture of the deploym

[2022-01-06 10:42] #1231 closed

[2022-01-06 13:17] picandocodigo commented on #1475
This has been fixed on https://github.com/elastic/elasticsearch-ruby/pull/1618, and has been backported to `7.16`, `7.17` and `8.0`. So the correct behaviour is going to be functional from versions `8.0.0`, `7.16.3` and `7.17.0` of the client. The `__escape` function in utils was updated to escape spaces to `%20`. This way, when you use a value such as `Mi LED 4K TV 4S 44''`, Elasticsearch will st

[2022-01-10 11:03] #695 closed

[2022-01-11 11:55] picandocodigo commented on #515
Closing this issue as we have a compatibility policy which is detailed [on the README](https://github.com/elastic/elasticsearch-ruby#compatibility).

[2022-01-11 11:55] #515 closed

[2022-01-13 18:07] picandocodigo commented on #1475
Closing this issue as the fix is now available in v7.16.3.

[2022-01-13 18:07] #1475 closed

[2022-01-16 15:56] GitForPrashant commented on #1130
I'm facing similar issues while integrating active directory based authentication for ELK. Since I was not having Gold license for Kibana I tried with trial version but it gives me below errors for all the LDAP properties.

Suppressed: java.lang.IllegalArgumentException: unknown setting [xpack.security.authc.realms.active_direcotry.my_ad.group_search.base_dn] please check that any required plugins

[2022-01-20 07:03] tachyons commented on #1344
[code]

Getting this error, potentially related ?

[2022-01-25 07:08] yusifibrahimov1 commented on #1119
how i can do logs don't write indecies. I want logs writing to data_stream. I use elasticsearch service, fluentd, kibana
??

[2022-01-31 11:55] picandocodigo commented on #1353
Closing this issue now. If you have a more specific problem with the client itself that you can describe, please open a new issue. Thanks!

[2022-01-31 11:55] #1353 closed

[2022-02-03 22:55] clarkedb opened #1676 "Ruby 3.0 support"
Does every minor version of the `elasticsearch` gem adhere to this statement from the README?

Specifically, I want to know if 6.3.x supports Ruby 3.0.x. But I didn't feel that the README confirmed that seeing as Ruby 3 had not been released when 6.3.1 was released.

[2022-02-07 11:48] picandocodigo commented on #1676
Hi @clarkedb,
In theory `6.3.x` could support Ruby `3.x`. We haven't updated the Ruby versions on the test suites since `6.x` branch has been on maintenance mode for a while and [its end of life is tomorrow February 8, 2022](https://www.elastic.co/support/eol).
I'm going to check if the unit tests succeed with `6.8` so I can give you a definitive answer on the latest in the `6.x` line. We're not g

[2022-02-08 10:01] picandocodigo commented on #1676
@clarkedb in [this PR](https://github.com/elastic/elasticsearch-ruby/pull/1677) I checked compatibility with Ruby [3.0](https://github.com/elastic/elasticsearch-ruby/runs/5097137125?check_suite_focus=true) and [3.1](https://github.com/elastic/elasticsearch-ruby/runs/5097137191?check_suite_focus=true). It looks like the main issue you may have is with dependencies, but other than that the unit test

[2022-02-08 10:01] #1676 closed

[2022-02-09 07:35] kares opened #1684 "Can not overrride user-agent header with Manticore adapter"
Seems adding a `transport_options = { :headers => { "User-Agent" => "Custom UA" } }` does not work and the library always uses it's UA default value, sample reproducer:

[code]
NOTE: Logstash filter and input ES plugins have a variation of using lower-case `'user-agent'` to set the header the end result is the same.

prints:
[code]

The header was working up till the plugins were using ES [< 7.16

[2022-02-09 17:45] picandocodigo commented on #1684
Thanks for reporting this @kares, I thought we had fixed the headers last time, but in the case of the User Agent we were overriding it [here](https://github.com/elastic/elasticsearch-ruby/pull/1685/files#diff-9a90647cc4f437d38072830b6c0582bc229c6e57ebd8f724fa6ce1d5e9cbececR167). Would it be possible for you to test this branch to make sure it fixes the issue for good in Manticore this time?

[2022-02-10 10:09] kares commented on #1684
Hey @picandocodigo I tested against:
[code]
... and the header override started working.

:heart:

[2022-02-10 10:23] picandocodigo commented on #1684
That's great, thanks for testing it @kares!!! :heart:
I'm going to merge to `7.17` and `8.x` in elastic-transport :+1:

[2022-02-18 10:36] nchaturvedi-personal commented on #1274
Using data_stream in the conf file is giving error as below:
Traceback (most recent call last):
        29: from /usr/bin/fluentd:23:in `<main>'
        28: from /usr/bin/fluentd:23:in `load'
        27: from /usr/lib/ruby/gems/2.7.0/gems/fluentd-1.14.4/bin/fluentd:15:in `<top (required)>'
        26: from /usr/lib/ruby/2.7.0/rubygems/core_ext/kernel_require.rb:83:in `require'
        25: from /us

[2022-02-21 14:55] picandocodigo commented on #1274
@nchaturvedi-personal It appears you're trying to use `elasticsearch-xpack 7.17` with version 8.0 of the client (and `elasticsearch-api 8.0`). Like the error says, `Elasticsearch::API::COMMON_PARAMS` is no longer defined in version 8.0 of `elasticsearch-api`.

If you want to use 8.0, you need to uninstall `elasticsearch-xpack` and version 7.17 of `elasticsearch-api`, and call the functions that we

[2022-02-21 18:39] nchaturvedi-personal commented on #1274
@picandocodigo - thanks for the response.
I guess my question was unclear. I was able to make my use-case work by using version 7.17.
But I was not able to understand from he documentation, what changes to make to the fluent.conf template(when using v 8.0) so that correct functions are called.
Currently, if I use the **@type elasticsearch_data_stream**, as mentioned in the sample above, the driver

[2022-02-21 18:58] picandocodigo commented on #1274
I don't know about the fluent configuration, but the error you pasted seems to come from what I described:
`
from /usr/lib/ruby/2.7.0/rubygems/core_ext/kernel_require.rb:158:in require' /usr/lib/ruby/gems/2.7.0/gems/elasticsearch-xpack-7.17.0/lib/elasticsearch/xpack.rb:43:in <top (required)>': uninitialized constant Elasticsearch::API::COMMON_PARAMS (NameError)
`
This is failing because the code i

[2022-02-22 17:46] nchaturvedi-personal commented on #1274
@picandocodigo - Yes, I am using _fluent-plugin-elasticsearch_.
I did manage to get it working using version 7.17, which is one of the suggestions in the link(s) that you have provided.
Will try out the other suggestion also, using version 8.0.
Once again, thanks for the assistance.

[2022-02-28 16:15] rriabets opened #1717 "[Doc] links on transport documentation not working"
this https://github.com/elastic/elasticsearch-ruby/blob/main/elasticsearch/README.md?plain=1#L120 gives me 404,
this https://github.com/elastic/elasticsearch-ruby/blob/main/elasticsearch/README.md?plain=1#L121gives me: "Oops" :)

[2022-02-28 17:05] picandocodigo commented on #1717
Thanks for reporting this @rriabets!
I've updated the links [here](https://github.com/elastic/elasticsearch-ruby/pull/1718).

[2022-02-28 17:05] #1717 closed

[2022-03-02 12:54] andrepcg commented on #695
Has anybody had this issue where it continues looping forever because the number of connections keeps increasing?

[code]

1/14
2/15
3/16
etc

[2022-03-03 21:50] jcavalieri opened #1722 "Version no longer a parameter for update. What replaced it?"
Hi Elastic team,

I'm upgrading from elasticsearch 6 to 7. In particular I am using the gem elasticsearch-api (= 7.17.1).

I am getting this error when using when calling update: `ArgumentError: URL parameter 'version' is not supported`

And indeed it is not there as an option.
[code]

Do you know how I can update the document with a version parameter? I'm having trouble googling it since results

[2022-03-03 21:54] jcavalieri commented on #1722
A follow up. Version is listed as a parameter according to the documentation.

See here: https://www.elastic.co/guide/en/elasticsearch/reference/7.1/docs-update.html#_parameters_2

[2022-03-03 22:01] jcavalieri commented on #1722
Oh, sorry that was 7.1 and should have been 7.17.

https://www.elastic.co/guide/en/elasticsearch/reference/7.17/docs-update.html#docs-update-api-query-params

Which doesn't have version.

[2022-03-03 22:52] #1722 closed

[2022-03-19 00:09] j-bennet opened #1727 "Elasticsearch::Client unexpectedly modifies parameters during search"
When calling `search` method of `Elasticsearch::Client` and passing in a dict of parameters, parameters are unexpectedly modified. Here is a minimal example:

[code]

Output:

[code]

If I needed my params after, this is breaking behavior.

The behavior changed between 7.17 and 8.0.

[2022-03-23 19:35] alechoey opened #1729 "Elasticsearch::Client#open_point_in_time returns NoMethodError"
Even though the action is defined in https://github.com/elastic/elasticsearch-ruby/blob/main/elasticsearch-api/lib/elasticsearch/api/actions/open_point_in_time.rb, the following snippet fails to find the action

[code]

[2022-03-24 09:14] picandocodigo commented on #1727
Hi @j-bennet,
I see why this is happening, it's a bug I introduced in `8.x`. I'll write a fix and backport it to `8.0` and `8.1` so it'll be available in the next patch releases.
Thanks!

[2022-03-24 15:26] jjant commented on #1429
@picandocodigo Am I correct in understanding that this minor version silently dropped support for elasticsearch 5?: https://github.com/elastic/elasticsearch-ruby/pull/1385/files#diff-f551818499dca113dde958c371a216b7159a3fc33706e82cf25ac88b10b1caf8R69

[2022-03-24 15:57] jjant opened #1734 "elasticsearch-ruby 7.14 silently dropping support for elastic search 5.x"
Mentioned it here:  https://github.com/elastic/elasticsearch-ruby/issues/1429#issuecomment-1077754235, but I thought it would be to have a separate issue for this as well.
Basically [this check](https://github.com/elastic/elasticsearch-ruby/pull/1385/files#diff-f551818499dca113dde958c371a216b7159a3fc33706e82cf25ac88b10b1caf8R69):
[code]
makes the client not work with ES 5.x.

Applying this patch:

[2022-03-24 17:10] picandocodigo commented on #1729
Hi @alechoey,
What versions of the client and its dependencies are in your project?
How are you including them in your code?

When instantiating a new `Elasticsearch::Client`, the object would have to be an `Elasticsearch::Client`, not an `Elasticsearch::Transport::Client` to include the `elasticsearch-api` code.

[2022-03-24 17:13] picandocodigo commented on #1429
Answered in #1734

[2022-03-25 23:51] alechoey commented on #1729
Thanks for your help @picandocodigo. Turns out when trying to make a smaller reproduction case that this was an issue with loading a stale version of the gem because of spring.

[2022-03-25 23:51] #1729 closed

[2022-04-04 10:01] picandocodigo commented on #1727
@j-bennet this is now fixed in [8.1.2](https://github.com/elastic/elasticsearch-ruby/releases/tag/v8.1.2) and [8.0.1](https://github.com/elastic/elasticsearch-ruby/releases/tag/v8.0.1). Let me know if there are any further issues. Thanks!

[2022-04-05 14:42] jjant commented on #1734
@picandocodigo Ah, I didn't realise ES5 was not supported anymore. Thank you!

[2022-04-06 06:50] sajjadmurtaza opened #1756 "Elasticsearch 6 on Mac is not running"
Hi all,
I can not get run Elasticsearch 6 on my MAC

[code]

and

[code]

Any idea how to fix it?

[2022-04-15 14:41] plantfansam opened #1766 "Adding tracing?"
Hi! I'm [working on](https://github.com/open-telemetry/opentelemetry-ruby/pull/1189) instrumenting this library so that it can generate OpenTelemetry trace spans (or likely instrumenting `-transport` or `-api`, depending on how things go 😄 ). I was hoping for a little guidance from this repo's maintainers!

Some background: for a lot of gems that we instrument in `opentelemetry-ruby`, we just monk

[2022-04-19 07:45] picandocodigo opened #1768 "Stuck on loop because the number of connections keeps increasing"
Has anybody had this issue where it continues looping forever because the number of connections keeps increasing?

[code]

1/14
2/15
3/16
etc

It seems dead connections get somehow duplicated of existing alive ones. I can see essentially the same connection (same host, post, attributes, etc) both in the dead set and alive one (different instances of the connection, not the same).

I've added debug

[2022-04-19 11:58] dbackeus opened #1769 "Elasticsearch server validation is incompatible with some builds"
The `Elasticsearch::Client#verify_with_version_or_header` method expects the ElasticSearch server to return a `x-elastic-product` header: https://github.com/elastic/elasticsearch-ruby/blob/main/elasticsearch/lib/elasticsearch.rb#L113

However in some builds of ElasticSearch, such as the latest homebrew version the header is returned with a capitalized X which makes the check fail and the gem unusa

[2022-04-19 12:23] dbackeus commented on #1769
Another datapoint - on our CI we don't get this header at all on a linux build of version 7.8.1:
<img width="545" alt="Screenshot 2022-04-19 at 14 22 21" src="https://user-images.githubusercontent.com/3461/164002543-8b9cec4f-b433-4324-9fc7-cb375a0af266.png">

[2022-04-19 12:29] dbackeus commented on #1769
Out of curiosity I tried the latest 7.17.2 linux build which does include the header but again with capitalized X:
<img width="606" alt="Screenshot 2022-04-19 at 14 29 13" src="https://user-images.githubusercontent.com/3461/164003683-08295e8c-dfc4-4346-8a0e-4f94a9c6f5cd.png">

[2022-04-20 09:23] picandocodigo commented on #1769
Hi @dbackeus,
Thanks for reporting this. It looks like you're trying to use an `8.x` release of the client with Elasticsearch `7.17.2`. As we mention in [Compatibility](https://github.com/elastic/elasticsearch-ruby#compatibility), clients are forward compatible. So for your case I'd suggest using version `7.17` of the client, since it will fail the validation otherwise.

The header was introduced

[2022-04-20 09:39] dbackeus commented on #1769
I see.

If so, perhaps it would make more sense for this validator to just compare the `version` variable with the gem version and raise a humanly readable error when the Elasticsearch server version is lower than the gem version?

[2022-04-20 14:48] #1469 closed

[2022-04-29 21:02] plantfansam commented on #1766
Any thoughts here @picandocodigo? Happy to keep things contained in `opentelemetry-ruby` (i.e. do option 1 or 2) but if option 4 is workable, that would probably be cleaner 😄

[2022-04-29 21:11] picandocodigo commented on #1766
Hi @plantfansam,
Sorry, I've had quite a busy couple of weeks!
Let me look into this in detail and talk with the team and I'll get back to you next week, thanks for your patience!

[2022-05-02 14:18] plantfansam commented on #1766
No problem! Appreciate you taking a look 😄!

[2022-05-03 10:53] estolfo commented on #1766
Hey @plantfansam, I thought I'd chime in here, after having worked on the instrumentation of this gem for the Elastic APM ruby agent.
Here is our [implementation](https://github.com/elastic/apm-agent-ruby/blob/main/lib/elastic_apm/spies/elasticsearch.rb#L42-L79)
Our instrumentation needs to be updated as it currently only supports < v8.0 of the Elasticsearch ruby client. But perhaps it's helpful t

[2022-05-04 17:40] picandocodigo commented on #1727
@j-bennet have you had a chance to test the latest releases? Is it ok to close this issue now?

[2022-05-08 16:59] johnnyshields commented on #1766
Emily, it's been awhile! I would be great if the Elastic team could consider contributing an instrumentation adapter to the OpenTelemetry project.

[2022-05-13 00:15] j-bennet commented on #1727
Yes, this seems to be fixed. Thank you!

[2022-05-13 00:15] #1727 closed

[2022-05-25 06:17] picandocodigo commented on #1429
@dustintennill could you open a new issue with some more details about this situation? How are you deploying Elasticsearch?

We are testing `8.2` versions of the client with `8.2` versions of Elasticsearch and it should work fine. The `7.17` version of the client also includes the distribution check. The only difference is in `elastic-transport` which was migrated to a new repo in `8.x`. I would s